li.test-group
  / depth - The current depth level of the test group; 1 for the first level
  - if !defined?(depth)
    - depth = 1

  / Add the test group's name (with the appropriate header depth)
  / Dang it, HTML
  - if depth == 1
    h2
      = group.header
      - if group.type != :group
        span.type
          = group.type.to_s
  - elsif depth == 2
    h3
      = group.header
      - if group.type != :group
        span.type
          = group.type.to_s
  - elsif depth == 3
    h4
      = group.header
      - if group.type != :group
        span.type
          = group.type.to_s
  - elsif depth == 4
    h5
      = group.header
      - if group.type != :group
        span.type
          = group.type.to_s
  - elsif depth >= 5
    h6
      = group.header
      - if group.type != :group
        span.type
          = group.type.to_s

  / List any "describe" groups
  - if group.describes.any?
    ul.test-groups.test-describes
      - group.describes.each do |key, group|
        == partial(:"tests/group", :locals => {:group => group, :depth => depth + 1})

  / List any "feature" groups
  - if group.features.any?
    ul.test-groups.test-features
      - group.features.each do |key, group|
        == partial(:"tests/group", :locals => {:group => group, :depth => depth + 1})

  / List this group's tests
  - if group.items.any?
    ul.tests
      - group.items.each do |test|
        == partial(:"tests/test", :locals => {:test => test})
