ul.configurations.tabs.tab-bar
  - configuration_index = 0
  - inner_tab_count = 0
  - connection[:inputs].each do |input|
    - if input[:type] == "configuration"
      - inner_tab_count += 1
      li.configuration.tab class=((inner_tab_count == 1 ? "active": ""))
        a
          = input[:name]
  - inner_tab_count += 1
  /li.configuration.tab class=((inner_tab_count == 1 ? "active": ""))
    a
      | Deploy
  - inner_tab_count += 1
  /li.configuration.tab class=((inner_tab_count == 1 ? "active": ""))
    a
      | File
.tab-panels.configurations
  - configuration_index = 0
  - inner_tab_count = 0
  - connection[:inputs].each_with_index do |input, input_index|
    - if input[:type] == "configuration"
      - inner_tab_count += 1
      - configuration_object = workflow.inputsAt(index, input_index)[0]
      - if configuration_object
        - configuration_object = workflow.resolveNode(configuration_object)
      form.configuration.tab-panel data-connection-index=index action=workflow.url(:path => "configure-node/#{index}/#{input_index}") method=:post name=:configuration_edit class=(inner_tab_count == 1 ? "active" : "") data-object-id=(configuration_object ? configuration_object.id : false) data-object-revision=(configuration_object ? configuration_object.revision : false) data-base-object-id=connection[:id] data-base-object-revision=connection[:revision] data-key=Base64.urlsafe_encode64(input[:name]) data-url=(configuration_object ? configuration_object.url(:path => "file") : false)
        - if workflow.link
          input type=:hidden name="link" value=workflow.link
        .card.filled.configuration.loading
          occam-configuration data-pjax=workflow.url(:path => "configure-node/#{index}/#{input_index}") data-input-index=input_index
        .card.filled hidden=true aria-hidden=:true
          - if workflow.canEdit?
            .submit
              input.button type=:submit value="Update" name=:submit
      - configuration_index += 1
    - input_index += 1
  / if the node has its 'self' attached to something
  - inner_tab_count += 1
  /form.configuration.tab-panel action=workflow.url(:path => "configure-node/#{index}/target") method=:post name=:deploy_edit class=(inner_tab_count == 1 ? "active" : "") data-connection-index=index data-input-index=:deploy data-base-object-id=connection[:id] data-base-object-revision=connection[:revision] data-key=Base64.urlsafe_encode64("Deploy") data-url=workflow.url(:path => "configure-node/#{index}/target")
    .card.filled.configuration
    .card.filled hidden=true aria-hidden=:true
      - if workflow.canEdit?
        .submit
          input.button type=:submit value="Update" name=:submit
  - inner_tab_count += 1
  /form.configuration.tab-panel action=workflow.url(:path => "configure-node/#{index}/file") method=:post name=:file_edit class=(inner_tab_count == 1 ? "active" : "") data-connection-index=index data-input-index=:file data-base-object-id=connection[:id] data-base-object-revision=connection[:revision] data-key=Base64.urlsafe_encode64("Deploy") data-url=workflow.url(:path => "configure-node/#{index}/file")
    .card.flex.filled.configuration.file-viewer
    .card.filled hidden=true aria-hidden=:true
      - if workflow.canEdit?
        .submit
          input.button type=:submit value="Update" name=:submit
