/ This partial shows the System/Jobs tab.

- tabs_id = "system-#{current_layout.tab}-panels"
- if current_layout.modal?
  - tabs_id = "modal-#{tabs_id}"

.card.filled.flex.jobs-viewer-container
  == header(:offscreen => true,
            :sidebar   => false,
            :text      => I18n.t('system.jobs.queue.header'),
            :help      => I18n.t('system.jobs.help'),
            :id        => :jobs)

  ul.tab-bar.tabs role=:tablist data-panels=tabs_id data-push-navigation=!current_layout.modal? data-append-title=!current_layout.modal? data-replace-navigation=!current_layout.modal?
    li.tab.sidebar.job-filter data-sidebar-reveal=".sidebar.job-facets"
      a href="#" title=I18n.t('system.jobs.sidebar.header')
        = I18n.t('system.jobs.sidebar.header')
        .arrow
        .arrow
        == svg(:ui, :facets)
    - statistics = Occam::Job.statistics()
    span
      | #{statistics[:queued]} Queued
    span.separator
    span
      | #{statistics[:started]} Started
    span.separator
    span
      | #{statistics[:finished]} Finished
    span.separator
    span
      | #{statistics[:failed]} Failed
    li.dropdown-menu role=:presentation aria-hidden=:true hidden=true
      button.dropdown role=:presentation aria-hidden=:true
        == svg(:ui, :"object-actions")
      ul.dropdown-menu-options.options

  .card.filled.container.flex.jobs-viewer
    .card.filled.flex.sidebar.search.job-facets
      h2
        | Filter

      form.card action="/system/jobs" method=:get
        h3
          | Status

        ul.facets.job-statuses
          - [:failed, :queued, :started, :initialized, :ran, :finished].each do |status|
            li
              label.facet.job-status.slider-checkbox for="jobs-filter-facet-status-#{status}"
                input.facet.tag id="jobs-filter-facet-status-#{status}" name="filter-status-#{status}" type=:checkbox checked=(params[:"filter-status-#{status}"] == "on")
                span.label.facet.name
                  / TODO: I18n
                  | #{status}

        h3
          | Targets

        ul.facets.job-targets
          - Occam::Job.targets.each do |key, targetInfo|
            - next if key == :local
            li
              label.facet.job-status.slider-checkbox for="jobs-filter-facet-target-#{key}"
                input.facet.tag id="jobs-filter-facet-target-#{key}" name="filter-target-#{key}" type=:checkbox checked=(params[:"filter-target-#{key}"] == "on")
                span.label.facet.name
                  = targetInfo[:name]

        input.button.inline type=:submit value="Filter"

    .card.filled.flex.scrollable
      / For each running job throughout, we will show its status in this table.
      table.jobs
        thead
          tr
            th.status
              | Status
            th.id hidden=true
              | ID
            th.identity
              | Identity
            th.name
              | Name
            th.target
              | Target
            th.queueTime
              | Queued
            th.startTime
              | Started
            th.initTime
              | Initialized
            th.runTime
              | Ran
            th.finishedTime
              | Finished
            th.actions
              | Actions
        tbody
          - Occam::Job.list(params).each do |jobInfo|
            tr.job
              td.status data-status=jobInfo[:status]
                = jobInfo[:status]
              td.id hidden=true
                = jobInfo[:id]
              td.identity
                - person = Occam::Person.fromIdentity(jobInfo[:identity])
                - if person
                  a href=person.url
                    img.avatar src=person.avatarURL(size=16)
                    = person.info[:name]
              td.name
                = jobInfo[:taskName]
              td.target
                span.target.object
                  == svg(:targets, jobInfo[:scheduler] + ".small", :class => :icon)
                  = jobInfo[:target]
              td.queueTime
                - if jobInfo[:queueTime]
                  = I18n.l(DateTime.iso8601(jobInfo[:queueTime]), :format => :long)
                - else
                  | N/A
              td.startTime
                - if jobInfo[:startTime]
                  = I18n.l(DateTime.iso8601(jobInfo[:startTime]), :format => :long)
                - else
                  | N/A
              td.initTime
                - if jobInfo[:initTime]
                  = I18n.l(DateTime.iso8601(jobInfo[:initTime]), :format => :long)
                - else
                  | N/A
              td.runTime
                - if jobInfo[:runTime]
                  = I18n.l(DateTime.iso8601(jobInfo[:runTime]), :format => :long)
                - else
                  | N/A
              td.finishTime
                - if jobInfo[:finishTime]
                  = I18n.l(DateTime.iso8601(jobInfo[:finishTime]), :format => :long)
                - else
                  | N/A
              td.actions
                / Dropdown for the possible job actions
                / restart
                / cancel
                | N/A
