li
  span.icon
    - if access[:person]
      img.avatar src=access[:person].avatarURL(24)
    - else
      img.avatar src="/images/icons/metadata/authors.png"
  span.name
    - if access[:person]
      a href=access[:person].url
        = access[:person].info[:name]
    - else
      = I18n.t('subsubheaders.access.all')
  span.role
  - [:read, :write, :clone, :run].each do |key|
    span.key data-key=key data-value=(access[key].nil? ? false : (access[key] ? "on" : "off"))
      form.inline action=object.url(:path => "permissions", :full=>true) method=:post
        input type=:hidden value=(access[key].nil? ? "on" : (access[key] ? "off" : "")) name=:value
        - if access[:identity]
          input type=:hidden value=access[:identity][:uri] name=:identity
        input type=:hidden value=section name=:section
        input type=:hidden value=key.to_s name=:update
        .dropdown-menu
          input.link type=:submit value=I18n.t("subsubheaders.access.#{key.to_s}") title=(access[key].nil? ? I18n.t('subsubheaders.access.inherited') : (access[key] ? I18n.t('subsubheaders.access.allowed') : I18n.t('subsubheaders.access.denied'))) name=:submit
          ul.dropdown-menu-options
            li
              a href="#"
                = I18n.t('subsubheaders.access.allowed')
            li
              a href="#"
                = I18n.t('subsubheaders.access.denied')
            li
              a href="#"
                = I18n.t('subsubheaders.access.inherited')
  span.remove
    - if access[:identity]
      form.inline action=object.url(:path => "permissions", :full=>true) method=:post
        input type=:hidden value='delete' name=:_method
        input type=:hidden value=access[:identity][:uri] name=:identity
        input.link.delete href="#" value=I18n.t('common.remove') type=:submit title=I18n.t('alt-text.removeRow')
