/ This is a modal used for confirmation dialogs
.modal-window.modal-confirm-window aria-role=:dialog role=:dialog tabindex="-1" aria-labeledby="confirmModalLabel"
  .loading hidden=true
  .content.flex
    h1.confirm
      == svg(:ui, :error, :class => "large-icon action confirm")
      .name#confirmModalLabel
        = I18n.t('confirm.header')
      .organization
        = I18n.t('confirm.description')
    .bar

    .card.flex.filled.transparent
      .card.filled.message
        p
          | Confirm message?
      form.modal name=:confirm
        .card.filled
          .submit
            input.button type="submit" value=I18n.t('common.accept') name=:submit 
  .close
