- current_person = nil
- if not defined?(no_footer) or !no_footer
  footer
    ul
      li
        a href="/acknowledgements"
          = I18n.t "navigation.acknowledgements"
      li
        a href="/publications"
          = I18n.t "navigation.publications"
      /li
        a href="/system"
          = I18n.t "navigation.system"
      li
        a href="/system/code"
          = I18n.t "navigation.code"
      li
        a href="/documentation"
          = I18n.t "navigation.documentation"
      li
        a href="/system/policies/"
          = I18n.t "navigation.system-policies"
      - if current_person && current_account.hasRole?(:administrator)
        li
          a href="/admin"
            = I18n.t "navigation.admin"
