/ Purpose: Displays all of the policies in effect for the system.
/
/ Locals: policyDetails - A hash of policies.
/         policies - A hash containing policy information. The hash must have
/                    "title" and "text" keys.

.policy-box
  h2
    = policyDetails["title"]
  - policyDetails["text"].split("\n").each do |paragraph|
    p
      = paragraph
