doctype html
html lang="en-US" 
  head
    == partial(:head, :locals => {:object => defined?(object) ? object : nil})
    title
      - if defined?(object) && object
        = "#{object.info[:name]} [#{object.info[:type]}] "
        | - Occam
      - elsif defined?(person) && person
        = "#{person.info[:name]} "
        | - Occam
      - else
        | Occam
  body.no-javascript class=current_layout.view.to_s
    == partial(:topbar, :locals => {:object => defined?(object) ? object : nil})
    ul.flash hidden=(request.path == "/about")
      template.error
        li.flash.error
          == svg(:ui, :error)
          p.message
            | error-message
      template.success
        li.flash.success
          == svg(:ui, :done)
          p.message
            | success-message
      template.saving
        li.flash.saving
          == svg(:ui, :saving)
          p.message
            | saving-message
      template.warning
        li.flash.warning
          == svg(:ui, :failed)
          p.message
            | warning-message
      - if params[:flash]
        li.flash.success
          == svg(:ui, :done)
          p.message
            = I18n.t(params[:flash])
    template.loading hidden=true
      == partial(:loading)
    .content class=(defined?(content) ? "" : "flex")
      == yield
    .modal-window aria-role="dialog" role="dialog" tabindex="-1" aria-labeledby="modalLabel" 
      .loading
      .content.flex
      .close
    == partial(:confirm)
    == partial(:scripts)
