.markdown.object_curation.top-details
  .top-gallery
    .card.filled.gallery
      .flexbox
        ul.preview
          - images.each_with_index do |image, i|
            - caption = nil
            - if image.is_a?(Array)
              - caption = image[1]
              - image = image[0]
            - if current_layout.webp?
              - image = image.gsub(/[.](png|jpg|jpeg)$/, ".webp")
            a.anchor id="#{id}-gallery-image-#{i}"
            li.preview.image class=(caption.nil? ? "" : "has-caption") 
              a href=image data-lightbox=true
                img src=image 
              - if caption
                .caption
                  p
                    - engine = ::Redcarpet::Markdown.new(Redcarpet::Render::HTML, {})
                    - result = engine.render(caption)
                    == result
        - if images.count > 1
          ul.thumbs.perfect-scrollbar
            - images.each_with_index do |image, i|
              - if image.is_a?(Array)
                - image = image[0]
              - if current_layout.webp?
                - image = image.gsub(/[.](png|jpg|jpeg)$/, ".webp")
              li.thumb.image id="#{id}-gallery-image-thumb-#{i}" 
                a href="##{id}-gallery-image-#{i}" 
                  img src=image 
