- workflow_obj = experiment.contents[0]
- workflow = nil
- if workflow_obj
  - workflow_obj = workflow_obj.as(Occam::Workflow, :file => "data.json")
  - workflow=workflow_obj.retrieveJSON("data.json")
.card.filled
  = header(:id   => :options,
           text => I18n.t('subheaders.configuration'),:
           help => I18n.t('help.configuration')):

  - if workflow.nil? || (workflow[:connections] || []).empty?
    - if workset && workset.can_edit?(current_person)
      p
        = I18n.t('common.noNodesYou')
    - else
      p
        = I18n.t('common.noNodes')

  - if workflow_obj
    template#configuration-panel
      form.tab-panel action=(workflow_obj.url(:path => "configure")) method=:post name=:configuration_edit data-parsley-excluded="input[type=button], input[type=submit], input[type=reset], input[type=hidden], [disabled], :hidden, .no-validation" 
        - if workflow_obj.link
          input type=:hidden name="link" value=workflow_obj.link 
        .card.filled
          ul.configurations.tabs.card-tabs
          .tab-panels.configurations
        .card.filled
          .submit
            input.button type="submit" value="Update" name=:submit 

  ul.tabs.bubble.configuration-object
    - tab_count = 0
    - ((workflow || {})[:connections] || []).each_with_index do |connection, index|
      - tab_count += 1
      li.tab class=((tab_count == 1 ? "active" : "")) data-connection-index=index 
        a
          #{connection[:name]}
  - tab_count = 0
  .tab-panels
    - ((workflow || {})[:connections] || []).each_with_index do |connection, index|
      - tab_count += 1
      .tab-panel class=((tab_count == 1 ? "active" : "")) 
        .card.filled
          ul.configurations.tabs.card-tabs
            - inner_tab_count = 0
            - connection[:inputs].each do |input|
              - if input[:type] == "configuration"
                - inner_tab_count += 1
                li.configuration.tab class=((inner_tab_count == 1 ? "active" : "")) 
                  a
                    #{input[:name]}
            - inner_tab_count += 1
          .tab-panels.configurations
            - inner_tab_count = 0
            - configuration_index=index
            - connection[:inputs].each_with_index do |input, input_index|
              - if input[:type] == "configuration"
                - inner_tab_count += 1
                - configuration_object = workflow_obj.inputsAt(index, input_index)[0]
                - if configuration_object
                  - configuration_object = workflow_obj.resolveNode(configuration_object)
                form.configuration.tab-panel :'data-connection-index' => index class=((tab_count == 1 ? "active" : "")) action=(workflow_obj.url(:path => "configure/#{index}/#{input_index}")) method=:post name=:configuration_edit data-parsley-excluded="input[type=button], input[type=submit], input[type=reset], input[type=hidden], [disabled], :hidden, .no-validation" class=((inner_tab_count == 1 ? "active" : "")) hidden=(inner_tab_count != 1) data-input-index=input_index data-connection-index=index data-object-id=((configuration_object ? configuration_object.uuid : false)) data-object-revision=((configuration_object ? configuration_object.revision : false)) data-base-object-id=connection[:id] data-base-object-revision=connection[:revision] data-key=Base64.urlsafe_encode64(input[:name]) 
                  - if workflow_obj.link
                    input type=:hidden name="link" value=workflow_obj.link 
                  .card.filled.configuration
                  .card.filled
                    .submit
                      input.button type="submit" value="Update" name=:submit 
                - configuration_index += 1
              - input_index += 1
