.card.top-details
  .top-gallery.no-images
    == partial(:"people/description", :locals => {:description => person.description,
                                                  :tags        => person.info[:tags],
                                                  :object      => person})

.card.filled
  / Highlighted
  h2
    == header(:text      => I18n.t('people.profile.highlighted.header'),
              :help      => I18n.t('people.profile.highlighted.help'),
              :id        => :highlighted)

  - highlighted = person.highlighted
  - if highlighted.empty?
    .card.none.filled
      == svg(:ui, :"no-workset", :class => "small none-icon")
      p
        = I18n.t('people.profile.highlighted.none')
  - else
    .card.filled
      == partial(:"objects/object_list", :locals => {:object  => person,
        :objects => highlighted.take(20).map(&:target)})
      p role=:presentation

.card.filled
  / Recent Activity
  h2
    == header(:text      => I18n.t('people.profile.activity.header'),
              :help      => I18n.t('people.profile.activity.help'),
              :id        => :activity)

  .card.none.filled
    == svg(:ui, :"no-activity", :class => "small none-icon")
    p
      = I18n.t('people.profile.activity.none')

.card.filled
