/ Modal view
/ Locals: errors - A collection of errors that are passed when the form
/                  is reloaded after a validation error. nil when no errors.
/         reset_token - A string that shows proof of authority to change the
/                       password.
/         identity - The identity of the person whose password is being reset.
/         username - The user friendly name for the user.
/         pwPolicyMarkdown - A markdown string describing the password policy.
h1.edit-password
  == svg(:ui, :login, :class => "large-icon edit-password")
  .name id=((request.xhr? ? "modalLabel" : false)) 
    = I18n.t('people.resetPassword.header')
  .organization
    = I18n.t('people.resetPassword.description')
.bar

.div style="overflow-y:auto; background-color:white;"
  form.modal action="/people/#{identity}/reset-password" method=:post name=:person_edit_password enctype="multipart/form-data"
    == partial :errors, :locals => {:errors => errors}

    input type=:hidden value=reset_token name=:token
    input type=:hidden value=username name=:username
    .card
      - unless pwPolicyMarkdown.nil?
        == header(:help => pwPolicyMarkdown, :offscreen => true)
      label for=:new_password
        = I18n.t "people.resetPassword.fields.newPassword"
      input.short type="password" id=:new_password name=:new_password autocomplete="off"
      label for=:confirm_new_password
        = I18n.t "people.resetPassword.fields.confirmNewPassword"
      input.short type="password" id=:confirm_new_password name=:confirm_new_password autocomplete="off"
    .card.filled
      .submit
        input.button data-modal-check-errors=true type=:submit value=I18n.t('people.resetPassword.submit')
