/ Purpose: Displays the results of the search
/
/ Locals:	types   - Matching object types
/			    objects - Matching objects (by keyword search)

- help = nil if not defined?(help)

- content_for :title do
  | Search Results

- if not defined?(pagination)
  - pagination = {:pageIndex => 1,
                  :pageItems => 50}

h1.search
  == svg(:ui, :search, :class => "large-icon")
  .name
    = I18n.t('search.results.header')
.bar

.card.filled.objects.results.flex
  == header(:id   => :output,
            :text => "Objects",
            :offscreen => true,
            :help => I18n.t('search.results.help'))

  - if pagination[:pageIndex] && pagination[:pageItems]
    - pagination[:pageCount] = (objects.count.to_f / pagination[:pageItems].to_f).ceil
    - paginationStart = pagination[:pageItems]*(pagination[:pageIndex]-1)
    - paginationEnd   = paginationStart + pagination[:pageItems]
    - objects = objects[paginationStart..paginationEnd-1]

  == partial(:"objects/listview", :locals => {:sidebarButton => true,
                                              :sidebarRevealed => (query == "" || query.nil?),
                                              :objects => objects,
                                              :query   => query,
                                              :data    => data,
                                              :pagination => pagination})
