/ This is the details panel that lists related objects

/ This includes the owner object and what this object is a clone of, if known.

/ Locals:
/   object - The Occam::Object being rendered

- if (object.identity && object.identity.person) || (object.info[:related] && object.info[:related] != []) || object.included? || object.clone?
  .card.filled.related
    h2
      = I18n.t 'objects.metadata.related.header'

    .objects-container
      ul.objects.related
        - if object.identity && object.identity.person
          li.object.person
            a href=object.identity.person.url
              p.relation
                = I18n.t 'objects.metadata.related.relationships.maintainer'
              img src=object.identity.person.avatarURL
              - if object.identity.person.hasAvatar?
                img.fingerprint src=Occam::Person.defaultAvatarURL(object.identity.uri, 48)
              p.name
                = object.identity.person.info[:name]
        - if object.clone?
          li.object
            a href=object.clonedFrom.url 
              p.relation
                = I18n.t 'objects.metadata.related.relationships.cloneOf'
              == svg(:objects, object.clonedFrom.iconID, :class => "icon")
              p.type
                = object.clonedFrom.shortType
              p.name
                = object.clonedFrom.info[:name]

        - object.related.each do |related|
          li.object
            a href=(related.url(:short => true)) 
              p.relation
                = related.info[:relation]
              == svg(:objects, related.iconID, :class => "icon")
              p.type
                = related.shortType
              p.name
                = related.info[:name]

        / Add a link to the parent
        - if object.contained?
          li.object
            a href=object.parent.url 
              p.relation
                = I18n.t 'objects.metadata.related.relationships.parent'
              == svg(:objects, object.parent.iconID, :class => "icon")
              p.type
                = object.parent.shortType
              p.name
                = object.parent.info[:name]

        / Add any sibling objects
        - if object.included?
          li.object
            a href=object.owner.url 
              p.relation
                = I18n.t 'objects.metadata.related.relationships.within'
              == svg(:objects, object.owner.iconID, :class => "icon")
              p.type
                = object.owner.shortType
              p.name
                = object.owner.info[:name]
          - object.owner.includes.each do |sibling|
            - if sibling.id != object.id
              li.object
                a href=sibling.url 
                  p.relation
                    = I18n.t 'objects.metadata.related.relationships.packaged'
                  == svg(:objects, sibling.iconID, :class => "icon")
                  p.type
                    = sibling.shortType
                  p.name
                    = sibling.info[:name]
        / if object.canEdit?
          li.add
            a
