/ This is the details panel that lists the links that point to this object.

/ It also has a link to QR code generation.

/ Locals:
/   object - The Occam::Object being rendered

.card.filled.share
  h2
    = I18n.t 'subheaders.share'

  .objects-container.share-container
    ul.objects.share
      li.share
        a.perma-link href=(object.url(:full => true)) 
          == svg(:metadata, :url, :class => "icon")
          p
            = I18n.t('subsubheaders.perma-link')
        a.copy href=(object.url(:full => true)) alt=I18n.t('tooltips.copy') title=I18n.t('tooltips.copy') data-url=(object.url(:full => true)) data-copied-tooltip=I18n.t('tooltips.copied') data-tooltip-allow-click=true
          = I18n.t 'common.copy'
          == svg(:ui, :copy, :class => "icon")
      li.share
        a.embed-link href=object.url(:full => true, :query=>({"embed" => true}))
          == svg(:metadata, :"embed-url", :class => "icon")
          p
            = I18n.t('subsubheaders.embed-link')
        a.copy href=(object.url(:full => true, :query=>{"embed" => true})) alt=I18n.t('tooltips.copy') title=I18n.t('tooltips.copy') data-url=(object.url(:full => true, :query=>{"embed" => true})) data-copied-tooltip=I18n.t('tooltips.copied') data-tooltip-allow-click=true
          = I18n.t 'common.copy'
          == svg(:ui, :copy, :class => "icon")
      li.share
        a.qr.modal href=(object.url(:path => "qrcode.png", :link => false)) 
          == svg(:metadata, :qrcode, :class => "icon")
          p
            = I18n.t "subsubheaders.qrcode"
