/ This modal will view citations for an object.

h1.citations
  == svg(:ui, :documentation, :class => "large-icon citations")
  .name id=((request.xhr? ? "modalLabel" : false)) 
    = I18n.t('objects.metadata.citation.header')
  .organization
    = I18n.t('objects.metadata.citation.description')
.bar

- tabs_id = "citation-panes"
- if request.xhr?
  - tabs_id = "modal-#{tabs_id}"

.card.filled.transparent.flex.new-object
  == header(:offscreen => true,
            :hidden    => true,
            :text      => I18n.t('objects.metadata.citation.header'),
            :help      => I18n.t('objects.metadata.citation.help'),
            :id        => :citation)
  ul.tabs.tab-bar
    li.tab
      a data-pjax="true" href=(object.url(:path => "citations/bibtex")) 
        | BibTeX
    li.tab
      a data-pjax="true" href=(object.url(:path => "citations/mla")) 
        | MLA
    li.tab
      a data-pjax="true" href=(object.url(:path => "citations/harvard")) 
        | Harvard

  ul.tab-panels.filled
    li.tab-panel
      == partial(:loading)
    li.tab-panel
      == partial(:loading)
    li.tab-panel
      == partial(:loading)
    li.tab-panel.default
      .card.filled.flex.citation
        p
          = I18n.t('objects.metadata.citation.default')
