- if !defined?(name)
  - name = ""

- if !defined?(type)
  - type = ""

- if !defined?(subtype)
  - subtype = ""

- if !defined?(source)
  - source = ""

- if !defined?(to)
  - to = ""

- if !defined?(id)
  - id = ""

- if !defined?(uid)
  - uid = ""

h1.new-resource
  == svg(:ui, :create, :class => "large-icon action new-resource")
  .name id=((request.xhr? ? "modalLabel" : false)) 
    | New Resource
  .organization
    | Add and mirror an external resource.
.bar

== partial :errors, {:locals => {:errors => errors}}

- tabs_id = "new-resource-panes"
- if request.xhr?
  - tabs_id = "modal-#{tabs_id}"

form.card.filled.flex.transparent.modal action=(object.url(:path => "files/object.json")) method=:post 
  .card.filled.flex.new-resource.objects
    ul.tabs.tab-bar data-panels=tabs_id
      li.edit.tab.active
        a.icon href="#new-resource-pane-general" 
          == svg(:ui, :"list-view");
          | General
    ul.tab-panels.flex.filled id=tabs_id
      li.tab-panel.active.flex.filled#new-resource-pane-general
        .card.filled.full
          label for=:"add-resource-source"
            | Source URL
          input#add-resource-source type=:text name=:"data[install()][source]" value=source
          label for=:"add-resource-subtype"
            | Resource Type
          input#add-resource-subtype type=:text name=:"data[install()][subtype]" value=subtype
          label for=:"add-resource-subtype"
            | Name
          input#add-resource-name type=:text name=:"data[install()][name]" value=name
          label for=:"add-resource-to"
            | Destination
          input#add-resource-to type=:text name=:"data[install()][to]" value=to
          label for=:"add-resource-unpack"
            | Unpack Destination
          input type=:hidden name=:"nullify[install()][actions][unpack]" value=:on
          input#add-resource-unpack type=:text name=:"data[install()][actions][unpack]" value=""

          / Ensures the padding exists at the bottom
          p role=:presentation
    .card.submit
      .submit
        input type=:hidden name=:referrer value="metadata" 
        input type=:hidden name=:message value="Adds {name} as a {subtype} resource."
        input#add-resource-type type=:hidden name=:"data[install()][type]" value="resource"
        input#add-resource-submit.button type="submit" value="Add" name=:submit disabled=(source == "" || source.nil?)
