- if !defined?(name)
  - name = ""

- if !defined?(type)
  - type = ""

- if !defined?(id)
  - id = ""

- if !defined?(uid)
  - uid = ""

- if !defined?(key)
  - key = "dependencies"

h1.new-dependency
  == svg(:ui, :create, :class => "large-icon action new-dependency")
  .name id=((request.xhr? ? "modalLabel" : false))
    = I18n.t('objects.metadata.new-dependency.header')
  .organization
    = I18n.t('objects.metadata.new-dependency.description')
.bar

== partial :errors, {:locals => {:errors => errors}}

- tabs_id = "new-dependency-panes"
- if request.xhr?
  - tabs_id = "modal-#{tabs_id}"

.card.filled.flex.new-dependency.results.objects.transparent
  == header(:offscreen => true,
            :hidden    => true,
            :text      => I18n.t('objects.metadata.new-dependency.header'),
            :help      => I18n.t('objects.metadata.new-dependency.help'),
            :id        => :"new-dependency")

  ul.tabs.tab-bar data-panels=tabs_id
    li.sidebar.tab data-sidebar-reveal=".search.sidebar"
      a.facets href="#" title=I18n.t('navigation.showSidebar') alt=I18n.t('navigation.showSidebar')
        = I18n.t('navigation.showSidebar')
        .arrow
        .arrow
        .arrow
        == svg(:ui, :facets)
    li.edit.tab.active.step
      a.icon href="#search"
        == svg(:ui, :search)
        | Search
    li.edit.tab.metadata.step disabled=true
      a.icon href="#metadata"
        == svg(:ui, :edit)
        | Metadata
    /li.edit.tab.file
      a.icon href="#file"
        == svg(:ui, :"file-listing")
        | File
  .card.results-panes-container.transparent.container.flex.filled
    - data = {}
    - objects = []
    - if !request.xhr?
      - data = Occam::Object.fullSearch(:name => "",
                                        :type => type,
                                        :excludeTypes => ["task"],
                                        :account => current_account)
      - objects = data[:objects]
    == partial(:"objects/listview/sidebar", :locals => {:sidebarRevealed => true,
                                                        :query           => "",
                                                        :type            => type,
                                                        :data            => data,
                                                        :objects         => objects})
    form.card.transparent.filled.flex.modal#new-dependency action=(object.url(:path => "files/object.json")) method=:post
      ul.tab-panels.flex.filled id=tabs_id
        li.tab-panel.object-search.active.flex.filled
          .card.filled.full.search-results-preview-container class=(request.xhr? ? "loading" : "")
            - if objects.any?
              == partial(:"objects/listview/preview", :locals => {:objects => objects})
        li.tab-panel.metadata.flex.filled
          .card.filled.full
            .objects-container
              ul.objects
                li.object.empty
                  a.empty disabled=true
                    == svg(:ui, :create, :class => :icon)
                    p.type
                      | Select
                    p.name
                      | an object

            label for=:"add-dependency-version"
              | Version
            select#add-dependency-version.selector name=:"data[#{key}()][version]"

            label for=:"add-dependency-summary"
              | Summary
            input#add-dependency-summary type=:text name=:"data[#{key}()][summary]" value=""
          .card
            .submit
              input type=:hidden name=:referrer value="metadata"
              input type=:hidden name=:message value="Adds {type} {name} as a dependency."
              input#add-dependency-type type=:hidden name=:"data[#{key}()][type]" value=type
              input#add-dependency-name type=:hidden name=:"data[#{key}()][name]" value=name
              input#add-dependency-id type=:hidden name=:"data[#{key}()][id]" value=id
              input#add-dependency-uid type=:hidden name=:"data[#{key}()][uid]" value=uid
              - if defined?(moduleName) && moduleName
                input#add-dependency-module type=:hidden name=:"data[#{key}()][module]" value=moduleName
              input#add-dependency-modules type=:hidden name=:"data[#{key}()][modules]" value=''
              - if defined?(subversion) && subversion
                input#add-dependency-subversion type=:hidden name=:"data[#{key}()][subversion]" value=subversion
              input#add-dependency-submit.button type="submit" value=I18n.t('objects.metadata.new-dependency.submit') name=:submit disabled=(id == "" || id.nil?)
        /li.tab-panel.file.flex.filled
          .card.filled.full
          .card
            .submit
