- new = false
- if !defined?(value) || value.nil?
  - value = {}
  - new = true

- if !defined?(name)
  - name = value[:name] || ""

- if !defined?(type)
  - type = value[:type] || ""

- if !defined?(subtype)
  - subtype = value[:subtype] || ""

- if !defined?(summary)
  - summary = value[:summary] || ""

- if !defined?(schema)
  - schema = value[:schema] || ""

- if !defined?(file)
  - file = value[:file] || ""

- if !defined?(index)
  - index = ""

- prefix = "data[#{key}(#{index})]"
- nullify = "nullify[#{key}(#{index})]"

h1.new-io class=:"new-#{section}"
  == svg(:ui, :create, :class => "large-icon action new-io")
  .name id=((request.xhr? ? "modalLabel" : false))
    = I18n.t("objects.metadata.#{section}.#{new ? 'new' : 'edit'}.header")
  .organization
    = I18n.t("objects.metadata.#{section}.#{new ? 'new' : 'edit'}.description")
.bar

== partial :errors, {:locals => {:errors => errors}}

- tabs_id = "new-io-panes"
- if request.xhr?
  - tabs_id = "modal-#{tabs_id}"

form.card.transparent.filled.flex.modal#new-io action=(object.url(:path => "files/object.json")) method=:post
  .card.filled.flex.new-io.objects.transparent
    ul.tabs.tab-bar data-panels=tabs_id
      li.edit.tab.active
        a.icon href="#general"
          == svg(:ui, :"list-view");
          | General
    ul.tab-panels.flex.filled id=tabs_id
      li.tab-panel.metadata.flex.filled.active
        .card.filled.full
          .editing-table
            .editing-table-field
              label for=:"add-io-name"
                = I18n.t('objects.metadata.io.fields.name')
              input#add-io-name type=:text name=:"#{prefix}[name]" value=name

            .editing-table-field
              label for=:"add-io-type"
                = I18n.t('objects.metadata.io.fields.type')
              input.auto-complete.object-type#add-io-type autocomplete=:off type=:text name=:"#{prefix}[type]" value=type

            .editing-table-field
              label for=:"add-io-subtype"
                = I18n.t('objects.metadata.io.fields.subtype')
              input type=:hidden name=:"#{nullify}[subtype]" value=:on
              input#add-io-subtype type=:text name=:"#{prefix}[subtype]" value=subtype

            .editing-table-field
              label for=:"add-io-summary"
                = I18n.t('objects.metadata.io.fields.summary')
              input type=:hidden name=:"#{nullify}[summary]" value=:on
              input#add-io-summary type=:text name=:"#{prefix}[summary]" value=summary

            .editing-table-field
              label for=:"add-io-schema" hidden=type!="configuration"
                = I18n.t('objects.metadata.io.fields.schema')
              input#add-io-schema type=:text name=:"#{prefix}[schema]" value=schema hidden=type!="configuration"

            .editing-table-field
              label for=:"add-io-file" hidden=type!="configuration"
                = I18n.t('objects.metadata.io.fields.file')
              input#add-io-file type=:text name=:"#{prefix}[file]" value=file hidden=type!="configuration"

          / Ensures the padding exists at the bottom
          p role=:presentation
  .card.submit
    .submit
      input type=:hidden name=:referrer value="metadata"
      input type=:hidden name=:message value="Adds {type} {name} within #{section}."
      input#add-io-submit.button type="submit" value=I18n.t("objects.metadata.#{section}.new.submit")
