.card.container.filled.flex.transparent
  - doc = Occam::Documentation.load(tag)
  .toc.sidebar.card.perfect-scrollbar
    == partial(:"documentation/toc", :locals => {:tag => tag})
  .card.filled.flex.transparent id=doc.generateSlug
    == doc.render(:request => request)
