- doc = Occam::Documentation.load(tag)
nav.toc.navigation-list data-navigates=doc.generateSlug
  ul.toc-entries.left
    - active = true
    li.toc-entry class=(active ? "active" : false)
      .before
      a href="/documentation/#{tag}"
        | Introduction
    - doc.sections.each_with_index do |subtag, i|
      - active = false
      li.toc-entry class=(active ? "active" : false)
        .before
        a href="/documentation/#{tag}##{subtag[:slug]}"
          = subtag[:name]
