.task-panel {
  display: flex;
  flex-direction: column;

  > .card.build {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .description {
      width: 100%;
      margin: 0;
      flex: 0 0 auto;
      min-height: auto;
    }

    ul.tabs {
      flex: 0;
    }

    ul.tab-panels {
      flex: 1 1 auto;
      overflow: auto;
      position: relative;

      li.tab-panel {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        .terminal {
          height: 100%;
          width: 100%;
        }
      }
    }

    .task {
      ol.task-running {
        margin-left: 10px;
        margin-top: 10px;
        margin-bottom: 10px;

        ol.task-running {
          margin-left: 20px;
          margin-bottom: 0;
          border-left: 1px solid #eaeaea;
          padding-left: 5px;
        }

        .object-header {
          margin: 0;
          margin-top: 20px;
        }

        li.task-item.object {
          width: 300px;
          display: block;
          margin: 0;
          padding: 0;

          a {
            display: block;
          }
        }
      }
    }
  }
}
