.file-listing-container.loading.card.flex.filled
  == partial(:"objects/directory", :locals => {:object => object,
                                               :checkboxes => true,
                                               :links => false,
                                               :build  => nil})
