ul.configurations.tabs.tab-bar
  - configuration_index = 0
  - inner_tab_count = 0
  - (object.info[:inputs] || []).each do |input|
    - if input[:type] == "configuration"
      - inner_tab_count += 1
      li.configuration.tab class=((inner_tab_count == 1 ? "active": "")) 
        a
          = input[:name]
.tab-panels.configurations.card.flex.filled
  - configuration_index = 0
  - inner_tab_count = 0
  - (object.info[:inputs] || []).each_with_index do |input, input_index|
    - if input[:type] == "configuration"
      - inner_tab_count += 1
      form.configuration.tab-panel.flex.filled action=object.url(:path => "configurations/#{input_index}") method=:post name=:configuration_edit class=((inner_tab_count == 1 ? "active" : "")) data-base-object-id=object.id data-base-object-revision=object.revision data-key=(Base64.urlsafe_encode64(input[:name] || "Input #{input_index}")) 
        .card.filled.configuration.loading.flex
          occam-configuration data-pjax=object.url(:path => "configurations/#{input_index}") data-input-index=input_index
      - configuration_index += 1
    - input_index += 1
