- if !defined?(build)
  - build = nil

- if !defined?(checkboxes)
  - checkboxes = false

- if !defined?(links)
  - links = true

- basepath = ""
- fileObject = object
- if not defined?(build)
  - build = nil
- if build
  - basepath = "builds/#{build.object.link || build.id}/"
  - fileObject = build

- path = fileObject.path if (not defined?(path) or path.nil?)
- if not fileObject.isGroup?(fileObject.path)
  - path = File.dirname(fileObject.path)

.card.flex.filled.file-list-panel
  == header(:id => :"file-listing-directory",
            :text => I18n.t('objects.files.listing.header') + " " + (path || "/"),
            :"data-path" => (path || "/"),
            :"data-url" => object.url(:path => "#{basepath}files#{path || "/"}"),
            :"data-name" => File.basename(path || "/"),
            :help => I18n.t('objects.files.listing.help'))

  ul.tabs.tab-bar

  .card.flex.filled.file-listing-container
    == partial(:"objects/filelist", :locals => {:object     => object,
                                                :path       => path,
                                                :checkboxes => checkboxes,
                                                :links      => links,
                                                :build      => build})
