- if !defined?(links)
  - links = true

- checkboxes = false if not defined?(checkboxes)
- form_prefix = "" if not defined?(form_prefix)
- selected_paths = [] if not defined?(selected_paths)
- files = nil if not defined?(files)
- header = nil if not defined?(header)
- actions = true if not defined?(actions)

- basepath = ""
- fileObject = object
- if not defined?(build)
  - build = nil
- if build
  - basepath = "builds/#{build.object.link || build.id}/"
  - fileObject = build

- path = fileObject.path if not defined?(path)
- if not fileObject.isGroup?(fileObject.path)
  - path = File.dirname(fileObject.path)

- if path.nil?
  - path = "/"

- if path.start_with?("/")
  - path = path[1..-1]

/ The add directory/file/etc buttons.
/ This is always rendered but only shown based on the write access of the object.
.new-actions-bar hidden=!fileObject.canEdit?
  .new-actions
    button.button.new-action.new-group title="New Folder" alt="New Folder"
      == svg(:ui, :"add-group")
    button.button.new-action.new-file title="New File" alt="New File"
      == svg(:ui, :"add-file")
    button.button.new-action.show-upload-file title="Upload File" alt="Upload File"
      == svg(:ui, :"upload-file")

/ The different error messages that are possible.
/ Each one must have a corresponding locale entry.
- ["upload-no-write-access-error"].each do |error|
  .error class=error hidden=true
    == svg(:ui, :error)
    p.message
      = I18n.t("objects.files.errors.#{error}")

/ The file upload buttons.
/ This is always rendered but only shown based on the write access of the object and revealed via the upload button above.
.upload-bar hidden=true
  form action=(object.url(:path => "#{basepath}files/#{path}")) method="post" enctype="multipart/form-data"
    input.button.inline#fileToUpload name=:fileToUpload type="file" disabled=!fileObject.canEdit?
    input.button.inline#objectFileUpload name=:submit type="submit" value="Upload" disabled=!fileObject.canEdit?

/ Lists the files within the current directory within the object.
.file-listing-table.perfect-scrollbar.card.filled
  / This is used when generating new file entries on the fly.
  / For instance, when uploading new files via drag-and-drop.
  template.file
    table
      tr.row.file data-type=:blob
        td.icon
          / The default icon is the spinner
          img src="/images/indicators/object.svg"
        td.size.value
          | 0
        td.size.units
          | B
        td.name.truncate
          span.name
          span.revision
        td.actions

  / The new file template
  template.new-file
    table
      tr.row.file data-type=:blob
        td.icon
          / The default icon is the basic 'object' icon
          == svg(:objects, Occam::Object.iconIDFor(:object))
        td.size.value
          | 0
        td.size.units
          | B
        td.name.truncate
          input.name placeholder="new file" value=""
        td.actions

  / The new folder template
  template.new-group
    table
      tr.row.group data-type=:tree
        td.icon
          / The default icon is the basic 'group' icon
          == svg(:objects, Occam::Object.iconIDFor(:group, :small => true))
        td.size.value
        td.size.units
        td.name.truncate
          input.name placeholder="new folder" value=""
        td.actions

  template.loading
    table
      tr.loading
        td.icon
          / The default icon is the spinner
          img src="/images/indicators/object.svg"
        td.size.value
        td.size.units
        td.name.truncate
          span.name
        td.actions

  table.file-listing
    tbody
      - if not files.nil?
        tr.row.header hidden=true
          td colspan="999"
            = I18n.t('subheaders.inputSet')
        - files.each_with_index do |paths, group_index|
          - group_base64_id = Base64.urlsafe_encode64(group_index.to_s)
          tr.row.header
            td colspan="999"
              - name = "to_#{form_prefix}[#{group_base64_id}]"
              input type=:hidden name=name value="false"
              input.checkbox type=:checkbox name=name checked=false
              span.name
                = I18n.t('subheaders.inputSet') % group_index.to_s
          - paths.each do |file_path|
            tr.row.file
              - if checkboxes
                td.checkbox
                  - base64_id = Base64.urlsafe_encode64(file_path)
                  - name = "in_#{form_prefix}[#{group_base64_id}][#{base64_id}]"
                  input type=:hidden name=name value="false"
                  input.checkbox type=:checkbox name=name checked=true
              td.name
                #{file_path}
        tr.row.header
          td colspan="999"
            - base64_id = Base64.urlsafe_encode64(files.length.to_s)
            - name = "to_#{form_prefix}[#{base64_id}]"
            input type=:hidden name=name value="false"
            input.checkbox type=:checkbox name=name checked=false
            span.name
              = I18n.t('subheaders.newInputSet')
      - else
        - if header
          tr.row.header
            td colspan="999"
              span.name
                #{header}
        / Add link to parent directory (..)
        - unless path.nil? || path == "" || path == "/"
          tr.row.group data-type=:tree
            td.icon
              == svg(:objects, Occam::Object.iconIDFor(:group, :small => true))
            td.size.value
            td.size.units
            td.name colspan="999"
              - if links
                - if path && path.include?('/')
                  a href=(object.url(:path => "#{basepath}files/#{path.split('/')[0...-1].join('/')}"))
                    | ..
                - else
                  a href=(object.url(:path => "#{basepath}files"))
                    | ..
              - else
                | ..
        / TODO: let's place the main file up at the top... even if it is within another directory
        / (only at the root directory, though...)
        - if (path == "/" || path == "") && object.info[:file]
          - info = object.retrieveFileStat(object.info[:file])
          - if info
            - info[:name] = object.info[:file]
            == partial(:"objects/filelist-row", :locals => {:object => object,
                                                            :basepath => basepath,
                                                            :path   => path, 
                                                            :links  => links,
                                                            :actions => actions,
                                                            :checkboxes => checkboxes,
                                                            :info   => info})
        - fileObject.eachFile(path, :order => :group, :all => true) do |info|
          - file_path = "#{path && path.length > 1 ? "#{path}/" : ""}#{info[:name]}"
          - if file_path != object.info[:file] || !(path == "/" || path == "")
            / Hidden files
            - next if info[:name] == ".gitignore"
            - next if info[:name] == "object.json"
            == partial(:"objects/filelist-row", :locals => {:object => object,
                                                            :basepath => basepath,
                                                            :path   => path, 
                                                            :links  => links,
                                                            :actions => actions,
                                                            :checkboxes => checkboxes,
                                                            :info   => info})
        / Add file resources
        - if defined?(workset) and workset and workset.can_edit?(current_person)
          - if fileObject.fileIsGroup?(path)
            table.directory.information
              tr.header
                td colspan="999"
                  = I18n.t 'fields.addFiles'
              tr.row.add.group
                td colspan="999"
                  span.input
                    form action=object.url(:path => "#{basepath}files/#{path}", :full=>true) method=:post
                      input type=:input name="directory_name"
                      input.button type=:submit value=I18n.t('fields.addNewGroup')
              tr.row.add.upload
                td colspan="999"
                  span.input
                    form action=object.url(:path => "#{basepath}files/#{path}", :full=>true) method=:post enctype="multipart/form-data"
                      input.file type=:file name='files[]' multiple=true
                      input.button type=:submit value=I18n.t('objects.files.upload.submit')

  / This message pops up to direct file upload dragging
  .file-upload-droparea-message
    .overlay.help
    .help-text
      span
        = I18n.t('objects.files.upload.dragDropArea')
