- layout = current_layout

- tabs_id = "history-panels"
- if request.xhr?
  - tabs_id = "modal-history-panels"

.card.filled.object-history.flex
  == header(:id   => :history,
            :offscreen => true,
            :text => I18n.t('objects.history.header'),
            :help => I18n.t('objects.history.help'))

  ul.tabs.tab-bar.filled.object-history-info data-panels=tabs_id data-push-navigation=!current_layout.modal? data-replace-navigation=!current_layout.modal?
    li.tab.sidebar.date-picker.reveal data-sidebar-reveal=".sidebar.left.date-picker"
      a href="#" title=I18n.t('navigation.runQueue')
        = I18n.t('navigation.runQueue')
        .arrow
        .arrow
        img src='/images/dynamic/hex/6aa3ae/icons/metadata/date.svg'
        img.active src='/images/dynamic/hex/ffffff/icons/metadata/date.svg'

    - tab_index = 0
    - active = ((layout.subtab.nil? && tab_index == 0) || layout.subtab == "activity") && "active"
    li.tab class=active
      - tab_index += 1
      a href=object.url(:path => "history/activity")
        = I18n.t('objects.history.activity.header')

    - active = ((layout.subtab.nil? && tab_index == 0) || layout.subtab == "versions") && "active"
    li.tab class=active
      - tab_index += 1
      a href=object.url(:path => "history/versions")
        = I18n.t('objects.history.versions.header')

    /li.tab
      a href="#"
        | Difference

  .card.filled.container.flex.transparent.history
    .sidebar.left.date-picker.card.flex.very-wide.reveal
      .calendar

    ul.tab-panels.card.transparent.flex.filled id=tabs_id
      - tab_index = 0
      - active = ((layout.subtab.nil? && tab_index == 0) || layout.subtab == "activity") && "active"
      li.tab-panel.card.transparent.flex.filled class=active
        - tab_index += 1
        - if object.canEdit?
          / Check if there needs to be a build of this object
          - if object.buildable? && object.stored.builds.none?
            .card
              p.warning
                = I18n.t('objects.history.buildUnavailable')
        .card.filled.history-commits
          h2.offscreen
            = I18n.t('objects.history.header')

          - if object.canEdit?
            / A 'publish' button to create a new entry in the history
            a.publish.modal href=object.url(:path => "/history/activity/new")
              == svg(:ui, :publish, :class => :icon)
              span
                = I18n.t('objects.history.activity.create')

          ul.history
            - commits = object.retrieveHistory(:before => before, :after => after)
            - if commits.any?
              - commits.each do |commit|
                li.commit
                  p.date
                    a href=(object.url(:revision => commit[:revision], :link => false))
                      - if commit[:date].is_a?(Date) or commit[:date].is_a?(DateTime)
                        time datetime=commit[:date].iso8601
                          = I18n.l commit[:date], :format => :long
                      - else
                        = commit[:date]
                  p.name
                    = I18n.t('objects.history.fields.author') + ":"
                    span.author<
                      = commit[:author]
                  - commit[:message].lines.each do |line|
                    p.message
                      = line
            - else
              = I18n.t('objects.history.activity.none')

      - active = ((layout.subtab.nil? && tab_index == 0) || layout.subtab == "versions") && "active"
      li.tab-panel.card.filled class=active
        - tab_index += 1
        .card.filled.history-versions
          - if object.canEdit?
            / A 'publish' button to create a new entry in the history
            a.publish.modal data-modal-tall=true href=object.url(:path => "/history/versions/new")
              == svg(:ui, :publish, :class => :icon)
              span
                = I18n.t('objects.history.versions.create')

          table.associations.objects cellspacing="0"
            thead
              tr
                th
                  = I18n.t('objects.history.versions.fields.name')
                th
                  = I18n.t('objects.history.versions.fields.revision')
                th
                  = I18n.t('objects.history.versions.fields.signedBy')
                th
                  = I18n.t('objects.history.versions.fields.signedOn')
            tbody
              - object.versions(:json => true)[:versions].each do |version|
                tr
                  td
                    | #{version[:version]}
                  td
                    | #{version[:revision]}
                  td
                    - person = Occam::Person.fromIdentity(version[:identity])
                    - if person
                      a href=person.url
                        img.avatar src=person.avatarURL(size=16)
                        = person.info[:name]
                    - else
                      | #{version[:identity]}
                  td
                    = I18n.l(DateTime.iso8601(version[:published]), :format => :long)
          - if !object.versions.any?
            p
              = I18n.t('objects.history.versions.none')

      li.tab-panel.card.filled
        .card.filled.history-diff
