- if object.canEdit?
  / Check if there needs to be a build of this object
  - if object.buildable? && object.stored.builds.none?
    .card
      p.warning
        | Published build not available. Please, create a build for this version.

- if object.info[:images] || (object.description and object.description[:text] != "") || (object.info[:tags] and not object.info[:tags].empty?) || object.canEdit? || [:source, :license, :publisher, :published, :website, :authors, :environment, :architecture].select{|k| object.info.has_key?(k)}.any?
  .top-details.card.transparent
    - gallery_class = object.info[:images] ? false : "no-images"
    .top-gallery class=gallery_class
      == partial(:"objects/description", :locals => {:description => object.description,
                                                     :tags        => object.info[:tags],
                                                     :object      => object})

      == partial(:"objects/images", :locals => {:object => object})

- if object.generators.any?
  .card.filled
    h2
      = I18n.t 'subsubheaders.generated'

    == partial(:"objects/object_list", :locals => {:object  => object,
                                                   :short   => false,
                                                   :objects => object.generators.reverse})

- if object.versions.any?
  .card.filled
    h2
      = I18n.t 'subheaders.versions'

    .objects-container
      ul.objects.perfect-scrollbar
        - versions = object.status[:versions]
        - object.status[:sortedVersions].each do |version|
          / Ignore 'hidden' versions
          - if version[0] == '.'
            - next
          - revision = versions[version.intern]
          li.object.version
            a href=(object.url(:revision => revision))
              p.version
                = version

== partial(:"objects/metadata/io", :locals => {:object => object})

/ Related objects
- if !object.canEdit?
  == partial(:"objects/metadata/related", :locals => {:object => object})

- if object.info[:type] != "experiment" && object.info[:type] != "workset"
  == partial(:"objects/metadata/associations", :locals => {:object => object, :kind => :viewer, :section => :views})

  == partial(:"objects/metadata/associations", :locals => {:object => object, :kind => :editor, :section => :edits})

  == partial(:"objects/metadata/services", :locals => {:object => object})

  - if object.includes.any?
    .card.filled
      h2
        = I18n.t 'subsubheaders.includes'

      == partial(:"objects/object_list", :locals => {:object   => object,
                                                     :objects  => object.includes,
                                                     :addModal => true,
                                                     :addURL   => object.url(:path => "metadata/includes/new")})

  - if (object.info[:requires] || []).any? || object.canEdit?
    .card.filled
      / Render the dependency listing (minus any with a listed 'module')
      == header(:text      => I18n.t('objects.metadata.requires.header'),
                :help      => I18n.t('objects.metadata.requires.help'),
                :id        => :requires)

      == partial(:"objects/object_list", :locals => {:object    => object,
                                                     :objects   => object.requires,
                                                     :addModal  => true,
                                                     :removeURL => object.url(:path => "files/object.json"),
                                                     :removeKey => "requires",
                                                     :key       => :requires,
                                                     :extra     => :priority,
                                                     :addURL    => object.url(:path => "metadata/requires/new")})

  - if object.dependencies.any? || object.canEdit?
    .card.filled
      / Render the dependency listing (minus any with a listed 'module')
      == header(:text      => I18n.t('objects.metadata.dependencies.header'),
                :help      => I18n.t('objects.metadata.dependencies.help'),
                :id        => :dependencies)

      == partial(:"objects/object_list", :locals => {:object      => object,
                                                     :objects     => object.dependencies,
                                                     :addModal    => :large,
                                                     :removeURL   => object.url(:path => "files/object.json"),
                                                     :removeKey   => "dependencies",
                                                     :referrerURL => "metadata",
                                                     :key         => :dependencies,
                                                     :addURL      => object.url(:path => "metadata/dependencies/new")})

      / For every dependency with a listed modules section, render that module section
      / TODO: place in objects model
      - modules = []
      - (object.info[:dependencies] || []).each do |dependency|
        - if not (dependency[:modules] || []).empty?
          / Reform to an array
          - if !dependency[:modules].is_a?(Array)
            - dependency[:modules] = [dependency[:modules]]

          / Go through the array and write out that object listing
          - dependency[:modules].each do |moduleInfo|
            - if !modules.include?(moduleInfo[:type])
              - modules << moduleInfo[:type]

              / The <h3> for the modules list
              == header(:text      => moduleInfo[:name],
                        :tag       => :h3,
                        :id        => :dependencies)

              / The object listing for the appended dependencies that fulfill the module
              == partial(:"objects/object_list", :locals => {:object      => object,
                                                             :objects     => object.dependencies,
                                                             :addModal    => :large,
                                                             :removeURL   => object.url(:path => "files/object.json"),
                                                             :removeKey   => "dependencies",
                                                             :referrerURL => "metadata",
                                                             :moduleName  => moduleInfo[:name],
                                                             :key         => :dependencies,
                                                             :addURL      => object.url(:path => "metadata/dependencies/new",
                                                                                        :query => {:module     => moduleInfo[:name],
                                                                                                   :type       => moduleInfo[:type],
                                                                                                   :subversion => moduleInfo[:subversion]})})

  - if (object.info[:install] && object.info[:install] != []) || object.canEdit?
    .card.filled
      == header(:text      => I18n.t('objects.metadata.resources.header'),
                :help      => I18n.t('objects.metadata.resources.help'),
                :id        => :resources)

      == partial(:"objects/metadata/resources", :locals => {:object      => object,
                                                            :objects     => object.info[:install] || [],
                                                            :statuses    => (object.status[:resources] || {})[:general],
                                                            :addModal    => true,
                                                            :removeURL   => object.url(:path => "files/object.json"),
                                                            :removeKey   => "install",
                                                            :referrerURL => "metadata",
                                                            :addURL      => object.url(:path => "metadata/install/new")})

  - if object.info[:build] || object.canEdit?
    .card.filled.details
      == header(:text      => I18n.t('objects.metadata.build.header'),
                :help      => I18n.t('objects.metadata.build.help'),
                :id        => :build)

      - if object.dependencies(:build).any? || (object.canEdit? && object.info[:build])
        h3
          = I18n.t 'subsubheaders.dependencies'

        == partial(:"objects/object_list", :locals => {:object      => object,
                                                       :objects     => object.dependencies(:build),
                                                       :addModal    => :large,
                                                       :removeURL   => object.url(:path => "files/object.json"),
                                                       :removeKey   => "build.dependencies",
                                                       :referrerURL => "metadata",
                                                       :key         => "build.dependencies",
                                                       :addURL      => object.url(:path => "metadata/build/dependencies/new")})

      - if (object.info[:build] && object.info[:build][:install] && object.info[:build][:install] != []) || (object.canEdit? && object.info[:build])
        h3
          = I18n.t 'subheaders.resources'

        == partial(:"objects/metadata/resources", :locals => {:object      => object,
                                                              :objects     => (object.info[:build] || {})[:install] || [],
                                                              :statuses    => (object.status[:resources] || {})[:build],
                                                              :addModal    => true,
                                                              :removeURL   => object.url(:path => "files/object.json"),
                                                              :removeKey   => "build.install",
                                                              :referrerURL => "metadata",
                                                              :key         => "build.install",
                                                              :addURL      => object.url(:path => "metadata/build/install/new")})

      - [:command, :script].each do |key|
        - if object.info[:build] && object.info[:build][key]
          h3
            = I18n.t("subsubheaders.#{key.to_s}")

          ul.command
            - command = object.info[:build][key]
            - if not command.is_a?(Array)
              - command = [command]
            - command.each do |token|
              li
                code
                  = token

      - if (object.info[:build] && object.info[:build][:environment]) || object.info[:environment]
        h3
          | Build Environment

        ul.command
          - [(object.info[:build] || {})[:environment] || object.info[:environment], (object.info[:build] || {})[:architecture] || object.info[:architecture]].each do |token|
            li
              code
                = token

      - if object.canEdit?
        p
          a#edit-build-metadata.button.modal href=(object.url(:path => "metadata/build/edit")) data-modal-full=true
            | Edit Build Metadata

  - if object.info[:run] || object.canEdit?
    .card.filled.details
      == header(:text      => I18n.t('objects.metadata.run.header'),
                :help      => I18n.t('objects.metadata.run.help'),
                :id        => :run)

      - if object.dependencies(:run).any? || (object.canEdit? && object.info[:run])
        h3
          = I18n.t 'subsubheaders.dependencies'

        == partial(:"objects/object_list", :locals => {:object      => object,
                                                       :objects     => object.dependencies(:run),
                                                       :addModal    => :large,
                                                       :removeURL   => object.url(:path => "files/object.json"),
                                                       :removeKey   => "run.dependencies",
                                                       :referrerURL => "metadata",
                                                       :key         => "run.dependencies",
                                                       :addURL      => object.url(:path => "metadata/run/dependencies/new")})

      - if (object.info[:run] && object.info[:run][:install] && object.info[:run][:install] != []) || (object.canEdit? && object.info[:run])
        h3
          = I18n.t 'subheaders.resources'

        == partial(:"objects/metadata/resources", :locals => {:object      => object,
                                                              :objects     => (object.info[:run] || {})[:install] || [],
                                                              :statuses    => (object.status[:resources] || {})[:run],
                                                              :addModal    => true,
                                                              :removeURL   => object.url(:path => "files/object.json"),
                                                              :removeKey   => "run.install",
                                                              :referrerURL => "metadata",
                                                              :key         => "run.install",
                                                              :addURL      => object.url(:path => "metadata/run/install/new")})

      - [:command, :script, :file].each do |key|
        - if object.info[:run] && object.info[:run][key]
          h3
            = I18n.t("subsubheaders.#{key.to_s}")

          ul.command
            - command = object.info[:run][key]
            - if not command.is_a?(Array)
              - command = [command]
            - command.each do |token|
              li
                code
                  = token

      - if object.info[:run] && (object.info[:run][:environment] || object.info[:environment])
        h3
          | Run Environment

        ul.command
          - [object.info[:run][:environment] || object.info[:environment], object.info[:run][:architecture] || object.info[:architecture]].each do |token|
            li
              code
                = token

      - if object.canEdit?
        p
          a#edit-build-metadata.button.modal href=(object.url(:path => "metadata/run/edit")) data-modal-full=true
            | Edit Run Metadata

/ The "Installation" (link/copy) data
== partial(:"objects/metadata/installation", :locals => {:object => object})

- if object.canEdit?
  / Related objects
  == partial(:"objects/metadata/related", :locals => {:object => object})
- else
  / Share/embed links
  == partial(:"objects/metadata/share", :locals => {:object => object})

.card.filled
