/ This is a widget for displaying an object graph starting from a given "root"
/
/ Locals:
/   objects - The objects to list
/   recurse - The number of levels to recurse (default = 0)

- if !defined?(recurse)
  - recurse = 0

- if !defined?(root)
  - root = true

- if !defined?(full)
  - full = false

- if !defined?(type)
  - type = :selection
ol.object-tree data-tree-type=type class=(root ? (full ? "full" : "") : "object-sub-tree")
  - if root
    input type=:hidden name="to[id]" value=""
    input type=:hidden name="to[revision]" value=""
    input type=:hidden name="to[index]" value=""
    input type=:hidden name="to[link]" value=""
  - objects.each do |object|
    li
      / Expand/Collapse
      span.expand class=((recurse > 0) ? "collapse" : "") data-url=(object.url(:path => "contains"))

      / Object icon
      - if object.is_a? Occam::Person
        span.icon
          img src=object.avatarURL(24)
      - else
        span.icon data-object-type=object.info[:type]

      / View name
      span.name
        = object.info[:name]

      span.id hidden=true
        = object.withinUuid
      span.revision hidden=true
        = object.withinRevision
      span.index hidden=true
        = (object.index || []).join("/")
      span.link hidden=true
        = object.link

      / List subobjects
      - if recurse > 0
        - if object.is_a? Occam::Person
          == partial :"objects/object_tree", :locals => {:objects => object.active.map(&:target), :type => type, :recurse => recurse - 1, :root => false}
        - else
          == partial :"objects/object_tree", :locals => {:objects => object.contents, :type => type, :recurse => recurse - 1, :root => false}
