/ addURL (string) - The URL for the form to add to this list
- if !defined?(addURL)
  - addURL = nil

/ addModal (bool) - When true, this allows the addURL to load via modal
- if !defined?(addModal)
  - addModal = false

/ removeURL (string) - The URL for deleting the item within the list
- if !defined?(removeURL)
  - removeURL = nil

/ removeKey (string) - The key referring to the item within the object metadata
- if !defined?(removeKey)
  - removeKey = nil

/ referrerURL (string) - Where to go when the remove action resolves
- if !defined?(referrerURL)
  - referrerURL = nil

/ key (string) - The key that this object list is viewing
- if !defined?(key)
  - key = false

/ moduleName (string) - The module that this list is filtering for
- if !defined?(moduleName)
  - moduleName = false

/ extra (string) - The 'extra' key to display under the object.
- if !defined?(extra)
  - extra = false

- if !defined?(short)
  - short = true

.objects-container
  ul.objects.perfect-scrollbar data-key=key data-module=moduleName
    - objects.each_with_index do |subObject, i|
      - if (moduleName && subObject.info[:module] == moduleName) || \
           (!moduleName && !subObject.info.has_key?(:module))
        li.object
          a href=(subObject.id == object.id ? false : subObject.url(:short => short))
            - if subObject.info[:type] == "service"
              == svg(:services, Occam::Object.serviceIconIDFor(subObject.info[:name]), :class => "icon")
            - else
              == svg(:objects, subObject.iconID, :class => "icon")
            p.type
              = subObject.shortType
            p.name
              = subObject.info[:name]
            - if subObject.info.has_key?(:version)
              p.version
                = subObject.info[:version]
            - if extra && subObject.info.has_key?(extra)
              p.version
                = subObject.info[extra]
          - if object.canEdit? && removeKey
            form action=removeURL method=:post
              - if referrerURL
                input type=:hidden name=:referrer value=referrerURL
              - if removeKey
                input type=:hidden name=:"nullify[#{removeKey}(#{i})]" value="on"
                input type=:hidden name=:"data[#{removeKey}(#{i})]" value=""
              button.remove
                == svg(:ui, :remove, :class => "icon")
    - if addURL && object.canEdit?
      li.object.empty.stuck
        a.empty disabled=true
          == svg(:ui, :create, :class => "icon")
          p.name
            | None
        a.add href=addURL class=(addModal ? "modal" : "") data-modal-large=(addModal == :large)
          == svg(:ui, :create, :class => "icon")
