- if !defined?("pagination")
  - pagination = nil

.card.flex.filled.objects.outputs
  == header(:id   => :output,
            :text => "Objects",
            :offscreen => true,
            :help => I18n.t('help.searchResults'))
  - if object.generated(:configurations => true)[:outputs].empty?
    ul.tabs.tab-bar
    .card.filled.flex.center-content.none
      == svg(:ui, :"no-output", :class => "none-icon")
      p
        = I18n.t("common.noOutput")
  - else
    == partial(:"objects/listview", :locals => {:sidebarButton   => false,
                                                :sidebarRevealed => false,
                                                :objects         => object.generated(:configurations => true)[:outputs].take(20),
                                                :pagination      => pagination})
