- if !defined?(files)
  - files = []

- if !defined?(phase)
  - phase = :run

- if !defined?(data_mime_type)
  - data_mime_type = nil

- if !defined?(file)
  - file = files.first

- if !defined?(viewer)
  - viewer = nil

- if !defined?(build)
  - build = nil

- if !defined?(viewers)
  - viewers = nil

- if !viewers
  - if data_mime_type || (object.path && !object.isGroup?(object.path))
    / TODO: associations
    - viewers = object.viewers(:path => object.path)
    - if object.path && File.extname(object.path) != ""
      - viewers.concat(Occam::Object.viewersFor(:subtype => "extension-#{File.extname(object.path).downcase[1..-1]}", :type => "data"))
    - if (build && build.isText?(object.path)) || (!build && object.isText?(object.path))
      - viewers.concat(Occam::Object.viewersFor(:subtype => "text/plain", :type => "text"))
      - data_mime_type = "text/plain"
  - else
    - viewers = object.viewers
  - viewers.uniq!(&:fullID)

  - if !viewer && viewers.any?
    - viewer = viewers.first

- route = []
- if object.info[:type] != "experiment"
  - if viewer
    - route = Occam::Task.new(:object => viewer, :targetEnvironment => "html", :targetArchitecture => "javascript", :phase => phase).route
  - else
    - route = Occam::Task.new(:object => object, :targetEnvironment => "html", :targetArchitecture => "javascript", :phase => phase).route
  - if route.empty?
    - if viewer
      - route = Occam::Task.new(:object => viewer, :phase => phase).route
    - else
      - route = Occam::Task.new(:object => object, :phase => phase).route
  - else
    - route.push({ :backend => "web-browser", :provides => [{ :environment => "html", :architecture => "javascript" }] })

- if !defined?(label)
  - if !running
    - label = I18n.t('objects.run.form.using.header')
  - else
    - if phase == :run
      - label = I18n.t('objects.run.form.running.header')
    - else
      - label = I18n.t('objects.run.form.building.header')

- if !object.path && object.info[:images] && object.info[:images].count > 0
  .image
    img src=(object.url(:path => "raw/#{object.info[:images][0]}"))
.task-container
  .task-pane
    .task-form
      .task-form-row.settings hidden=true
        .task-form-header.settings
        .task-form-cell.settings
          label.slider-checkbox
            input type=:checkbox
            span.label
              = I18n.t('objects.run.form.advanced.label')
      - if !running
        .task-form-row.viewing-object
          .task-form-header.label.viewing-object
            h3
              = I18n.t('objects.run.form.viewing.header')
          - eula = false
          - if object.eula
            - eula = object.eula.index
          .task-form-cell.task-form-item.viewing-object data-viewing=object.fullID(object.path, false, :build => (build ? (build.object.link || build.id) : nil)) data-eula-index=eula data-file=file data-token=encrypt_token(object) data-link=object.link data-build-id=(build ? (build.object.link || build.id) : nil)
            .task-form-inner-cell.task-form-object
              == svg(:objects, object.iconID, :class => :icon)
              .info
                span.type
                  = object.info[:type]
                span.name
                  = object.info[:name]
              - if object.path && object.path != "/"
                .info.path-info
                  img.arrow src="/images/dynamic/hex/eeeeee/ui/task_form_arrow.svg"
                  == svg(:objects, Occam::Object.iconIDFor(object.pathInfo[:type], :subtype => object.pathInfo[:subtype]), :class => :icon)
                  .info
                    span.type
                      = object.pathInfo[:type]
                    span.name
                      = File.basename(object.path)
      - runObject = viewer || object
      - previousObject = runObject
      - if running || viewer
        .task-form-row.running-object
          .task-form-header.label.running-object
            h3 data-phase=phase
              = label
          - eula = false
          - if runObject.eula
            - eula = runObject.eula.index
          .task-form-cell.task-form-item.running-object data-object=runObject.fullID data-eula-index=eula data-file=file data-phase=phase data-token=encrypt_token(runObject) data-link=runObject.link
            .task-form-inner-cell.task-form-object
              == svg(:objects, runObject.iconID, :class => :icon)
              .info
                span.type
                  = runObject.info[:type]
                span.name
                  = runObject.info[:name]
              - if runObject.path
                .info.path-info
                  img.arrow src="/images/dynamic/hex/eeeeee/ui/task_form_arrow.svg"
                  == svg(:objects, Occam::Object.iconIDFor(runObject.pathInfo[:type], :subtype => runObject.pathInfo[:subtype]), :class => :icon)
                  .info
                    span.type
                      = runObject.pathInfo[:type]
                    span.name
                      = File.basename(runObject.path)
              .task-form-query.card.reveal.viewers.inputs
                - if running && (runObject.info[:inputs] || []).any? && phase == :run
                  h4
                    | Inputs

                  / List the inputs for the running object and allow items to be attached
                  ul.input-list
                    - runObject.info[:inputs].each_with_index do |input, index|
                      li.input
                        .object-header
                          == svg(:objects, Occam::Object.iconIDFor(input[:type], :subtype => input[:subtype]), :class => :icon)
                          p.type
                            = input[:type]
                            - if input[:subtype]
                              | [
                              - if input[:subtype].is_a?(Array)
                                = input[:subtype].join(",")
                              - else
                                = input[:subtype]
                              | ]
                          p.name
                            = input[:name]
                        .objects-container.input-selection
                          template.input.object
                            li.object.input
                              .object-header
                                == svg(:objects, :object, :class => "icon")
                                p.type
                                  | type
                                p.name
                                  | name
                                p.id hidden=true
                                  | id
                                p.uid hidden=true
                                  | uid
                                p.file hidden=true
                                  | file
                                p.revision hidden=true
                                  | revision
                              button.remove
                                == svg(:ui, :remove, :class => "icon")
                          ul.objects
                            li.object.empty.stuck
                              a.empty disabled=true
                                == svg(:ui, :create, :class => "icon")
                                p.name role=:presentation
                                  | None
                                p.type role=:presentation
                                  | &nbsp;
                              - if false && input[:type] == "configuration"
                                .half-button
                                  a.add.add-configuration.modal href=object.url(:path => "configure/#{index}") title=I18n.t(:'objects.run.form.addConfiguration') data-modal-tall=true
                                    == svg(:ui, :"configuration-panel", :class => "icon")
                                .half-button
                                  a.add.add-input.modal data-modal-large=true href='/objects/select' title=I18n.t(:'objects.run.form.addInput')
                                    == svg(:ui, :create, :class => "icon")
                              - else
                                a.add.add-input.modal data-modal-large=true href='/objects/select' title=I18n.t(:'objects.run.form.addInput')
                                  == svg(:ui, :create, :class => "icon")
                - if viewers && viewers.any?
                  h4
                    | Known Viewers
                  .objects-container.viewer-selection
                    ul.viewer-list.objects
                      - viewers.each do |secondaryViewer|
                        li.viewer.object data-object-id=secondaryViewer.id data-object-revision=secondaryViewer.revision data-object-type=secondaryViewer.info[:type] class=(secondaryViewer.id == viewer.id ? "active" : "")
                          a
                            == svg(:objects, secondaryViewer.iconID, :class => :icon)
                            p.type
                              = secondaryViewer.info[:type]
                            p.name
                              = secondaryViewer.info[:name]
                            - if secondaryViewer.info[:environment]
                              == svg(:environments, secondaryViewer.info[:environment], :class => :icon)
                              p.environment
                                = secondaryViewer.info[:environment]
                              p.architecture
                                = secondaryViewer.info[:architecture]
                  / Show the current viewer summary
                  p.description
                    = viewer.summary
                  / When there is no summary
                  p.description.none
                    | No Summary
                button.collapse title=I18n.t('common.hide')
                  = I18n.t('common.hide')
                  == svg(:ui, :collapse_up)
      - elsif !running && viewer.nil?
        .task-form-row.supplemental-object
          .task-form-header.label.running-object
            h3 data-phase=phase
              = label
          - eula = false
          - if runObject.eula
            - eula = runObject.eula.index
          .task-form-cell.task-form-item.unknown-route
            .task-form-inner-cell.task-form-object
              img.icon src="/images/dynamic/hex/#{current_theme.hexColorFor('base.error.color')}/icons/ui/remove.svg"
              span.name
                | Cannot determine a way to view this.
              .info
              .task-form-query.card.reveal.viewers
                / Show some possible viewers found on the network
                - if previousObject.info[:environment]
                  h4
                    | Possible Viewers
                  - environment = previousObject.info[:environment]
                  - architecture = previousObject.info[:architecture]
                  .objects-container.filled.single
                    ul.objects.list data-pjax=:true data-url="/viewers?type=#{previousObject.pathInfo[:type]}&subtype=#{previousObject.pathInfo[:subtype]}"
                      - possibleViewers = Occam::Object.viewersFor(:type => previousObject.pathInfo[:type],
                                                                   :subtype => previousObject.pathInfo[:subtype],
                                                                   :discover => true)
                      - possibleViewers.each do |possibleViewer|
                        == partial(:"objects/listview/detailed-list-item", :locals => {:object => possibleViewer})
                button.collapse title=I18n.t('common.hide')
                  = I18n.t('common.hide')
                  == svg(:ui, :collapse_up)
      - if (route[1..-1] || []).empty? && !(!running && viewer.nil?) && !object.info[:type] == "experiment"
        .task-form-row.supplemental-object
          .task-form-header.label.supplemental-object
            h3.break
              = I18n.t('objects.run.form.providing.header')
              br
              .info
                span.environment
                  = (previousObject.info[phase] || {})[:environment] || previousObject.info[:environment]
                  img src="/images/dynamic/hex/eeeeee/icons/metadata/environment.svg"
                span.architecture
                  = (previousObject.info[phase] || {})[:architecture] || previousObject.info[:architecture]
                  img src="/images/dynamic/hex/eeeeee/icons/metadata/architecture.svg"
          .task-form-cell.task-form-item.unknown-route
            .task-form-inner-cell.task-form-object
              img.icon src="/images/dynamic/hex/#{current_theme.hexColorFor('base.error.color')}/icons/ui/remove.svg"
              span.name
                | Cannot determine a way to run this.
              .info
              .task-form-query.card.reveal.providers
                / Show some possible providers found on the network
                - if previousObject.info[:environment]
                  h4
                    | Possible Providers
                  - environment = (previousObject.info[phase] || {})[:environment] || previousObject.info[:environment]
                  - architecture = (previousObject.info[phase] || {})[:architecture] || previousObject.info[:architecture]
                  .objects-container.filled.single
                    ul.objects.list data-pjax=:true data-url="/providers?environment=#{environment}&architecture=#{architecture}"
                      - providers = Occam::Object.providersFor(:environment  => environment,
                                                               :architecture => architecture,
                                                               :discover => true)
                      - providers.each do |provider|
                        == partial(:"objects/listview/detailed-list-item", :locals => {:object => provider})
                button.collapse title=I18n.t('common.hide')
                  = I18n.t('common.hide')
                  == svg(:ui, :collapse_up)
      - backend = nil
      - (route[1..-1] || []).each do |object|
        - if object.is_a?(Occam::Object)
          .task-form-row.supplemental-object
            .task-form-header.label.supplemental-object
              h3.break
                = I18n.t('objects.run.form.providing.header')
                br
                .info
                  span.environment
                    = (previousObject.info[phase] || {})[:environment] || previousObject.info[:environment]
                    img src="/images/dynamic/hex/eeeeee/icons/metadata/environment.svg"
                  span.architecture
                    = (previousObject.info[phase] || {})[:architecture] || previousObject.info[:architecture]
                    img src="/images/dynamic/hex/eeeeee/icons/metadata/architecture.svg"
            - eula = false
            - if object.eula
              - eula = object.eula.index
            .task-form-cell.task-form-item.supplemental-object data-object=object.fullID data-eula-index=eula data-file=file data-token=encrypt_token(object) data-link=object.link
              .task-form-inner-cell.task-form-object
                == svg(:objects, Occam::Object.iconIDFor(object.iconID), :class => :icon)
                .info
                  span.type
                    = object.info[:type]
                  span.name
                    = object.info[:name]
                - if object.path && object.path != "/"
                  .info.path-info
                    img.arrow src="/images/dynamic/hex/#{current_theme.hexColorFor('viewer.queue.panel.inactive.icon')}/ui/task_form_arrow.svg"
                    == svg(:objects, Occam::Object.iconIDFor(object.pathInfo[:type], :subtype => object.pathInfo[:subtype]), :class => :icon)
                    .info
                      span.type
                        = object.pathInfo[:type]
                      span.name
                        = File.basename(object.path)
                .task-form-query.reveal
                  button.collapse title=I18n.t('common.hide')
                    = I18n.t('common.hide')
                    == svg(:ui, :collapse_up)
        - else
          - backend = object
          .task-form-row.supplemental-object
            .task-form-header.label.supplemental-object
              h3
                = I18n.t('objects.run.form.backend.header')
            - provides = (backend[:provides] || []).map{|x| "#{x[:environment]}-#{x[:architecture]}"}.join(';')
            .task-form-cell.task-form-item.supplemental-object data-backend=backend[:backend] data-provides=";#{provides};"
              .task-form-inner-cell.task-form-object
                == svg(:backends, backend[:backend], :class => :icon)
                .info
                  span.name
                    = backend[:backend]
                .task-form-query.reveal
                  button.collapse title=I18n.t('common.hide')
                    = I18n.t('common.hide')
                    == svg(:ui, :collapse_up)
        - previousObject = object
      .task-form-row.supplemental-object
        .task-form-header.label.supplemental-object
          h3
            = I18n.t('objects.run.form.dispatchTo.header')
        - active = false
        - Occam::Job.targets.each_with_index do |(key, target), i|
          - provides = (target[:provides] || []).map{|x| "#{x[:environment]}-#{x[:architecture]}"}.join(';')
          - enabled = false
          - if object.info[:type] == "experiment"
            / This is a placeholder until we can query workflow requirements... because we currently
            / throw a workflow to a single cluster. We don't support multi-environment workflows
            / very well. It is quite hard!
            - backend = { :provides => [{:environment => "singularity", :architecture => "x86-64"}]}
          - (target[:provides] || []).each do |tuple|
            - if backend && backend[:provides].include?(tuple)
              - enabled = true
          - if enabled && active == false
            - active = key
        - if !active
          - route = []
          .task-form-cell.task-form-item.unknown-route
            .task-form-inner-cell.task-form-dispatch
              img.icon src="/images/dynamic/hex/#{current_theme.hexColorFor('base.error.color')}/icons/ui/remove.svg"
              span.name
                | Cannot determine an environment to run this.
              .info
              .task-form-query.card.reveal
                button.collapse title=I18n.t('common.hide')
                  = I18n.t('common.hide')
                  == svg(:ui, :collapse_up)
        - else
          .task-form-cell.task-form-item.supplemental-object data-dispatch-to=active
            .task-form-inner-cell.task-form-dispatch
              == svg(:targets, Occam::Job.targets[active][:scheduler], :class => :icon)
              .info
                span.name
                  = Occam::Job.targets[active][:name]
              .task-form-query.reveal
                .objects-container.targets
                  ul.target-list.objects
                    - Occam::Job.targets.each_with_index do |(key, target), i|
                      - provides = (target[:provides] || []).map{|x| "#{x[:environment]}-#{x[:architecture]}"}.join(';')
                      - enabled = false
                      - (target[:provides] || []).each do |tuple|
                        - if backend[:provides].include?(tuple)
                          - enabled = true
                      li.target.object class=(active == key ? "active" : "") data-provides=";#{provides};"
                        a disabled=!enabled
                          == svg(:targets, target[:scheduler] || :occam, :class => :icon)
                          p.type
                            = key
                          p.name
                            = target[:name]
                button.collapse title=I18n.t('common.hide')
                  = I18n.t('common.hide')
                  == svg(:ui, :collapse_up)
      .task-form-row.submit
        .task-form-header.label.submit
        .task-form-cell.submit
          .submit.button-selector data-dropdown-label=I18n.t("objects.run.form.moreOptions")
            - if object.info[:type] == "experiment"
              /input.button.run.button-selector-item type="submit" value=I18n.t("objects.run.form.#{phase}AndSave.button") name=:commit
            - else
              input.button.run.button-selector-item type="submit" value=I18n.t("objects.run.form.#{phase}.button") name=:submit disabled=(route[1..-1] || []).empty?
              - if object.link && phase == :build
                input.button.run.button-selector-item type="submit" value=I18n.t("objects.run.form.#{phase}FromClean.button") name=:"from-clean" disabled=(route[1..-1] || []).empty?
            input.button.run.button-selector-item type="submit" value=I18n.t("objects.run.form.#{phase}Published.button") name=:"submit-published"
