/ This modal will allow a person to create a new object

h1.create
  img.large-icon.action.create src="/images/icons/ui/create.svg" 
  .name id=((request.xhr? ? "modalLabel" : false)) 
    = I18n.t('headers.create')
  .organization
    = I18n.t('description.create')
.bar

form.modal.new-object action=object.url(:path => "objects") method=:post name=:create
  == partial :errors, {:locals => {:errors => errors}}
  .card
    label for="new-object-type"
      = I18n.t('fields.type')
    select#new-object-type.selector name="type" aria-label=I18n.t("people.collection.objectSelect") title=I18n.t("people.collection.objectSelect")
      option data-i18n=I18n.t('objectTypes.experiment') data-icon-url=Occam::Object.iconURLFor(:experiment)
        | experiment
      option data-i18n=I18n.t('objectTypes.group') data-icon-url=Occam::Object.iconURLFor(:group)
        | group
      option data-i18n=I18n.t('objectTypes.object') data-icon-url=Occam::Object.iconURLFor(:object)
        | object
    label for="new-object-customType" hidden=true
      = I18n.t('fields.customType')
    input#new-object-customType.short value="" type=:text hidden=true placeholder=I18n.t('fields.placeholders.type') name="customType" aria-label=I18n.t("people.collection.customType") title=I18n.t("people.collection.customType")
    label for="new-object-name"
      = I18n.t('fields.name')
    input#new-object-name.short value="" type=:text placeholder=I18n.t('fields.placeholders.name') name="name" aria-label=I18n.t("people.collection.name") title=I18n.t("people.collection.name")
  .card.submitting hidden=true
    .add-object-animation
      p
        | Creating object...
      == partial(:loading)
  .card.filled
    .submit
      input.button data-modal-check-errors=true value=I18n.t('people.collection.new.submit') type=:submit name="add"
