h1.edit
  == svg(:metadata, :authors, :class => "large-icon action edit-authors")
  .name id=((request.xhr? ? "modalLabel" : false))
    = I18n.t('objects.metadata.authors.edit.header')
  .organization
    = I18n.t('objects.metadata.authors.edit.description')
.bar

== partial :errors, {:locals => {:errors => errors}}

form.card.filled.flex.transparent.modal action=(object.url(:path => "files/object.json")) method=:post
  .card.filled.flex.metadata-editor
    == header(:offscreen => true,
              :hidden    => true,
              :text      => I18n.t('objects.metadata.authors.edit.header'),
              :help      => I18n.t('objects.metadata.authors.edit.help'),
              :id        => :"edit-authors-metadata")

    ul.tabs.tab-bar
      li.edit.tab.active
        a.icon href="#general"
          == svg(:ui, :"list-view")
          | General
    ul.tab-panels.flex.filled
      li.tab-panel.metadata-editor.active.flex.filled
        .card.full.filled
          p.warning
            == I18n.t('objects.metadata.authors.edit.notice')
          .editing-table
            .editing-table-field
              label for="edit-author-name"
                | name
              input id="edit-author-name" type=:text name=:"data[name]" value=object.info[:name] disabled=true
  /.card.submit
    .submit
      input type=:hidden name="referrer" value="metadata"
      input#edit-object-submit.button type="submit" value="Update" name=:submit
