/ This modal will allow a person to create/update a configuration

- if !defined?(editing)
  - editing = false

- if !defined?(defaults)
  - defaults = {}

- if !defined?(name)
  - name = "Configure"

- if !defined?(url)
  - url = nil

h1.configure
  == svg(:ui, :'configuration-panel', :class => "large-icon action create")
  - if editing
    .name id=((request.xhr? ? "modalLabel" : false))
      = I18n.t('objects.metadata.io.edit-schema.header')
    .organization
      = I18n.t('objects.metadata.io.edit-schema.description')
  - else
    .name id=((request.xhr? ? "modalLabel" : false))
      = I18n.t('headers.create')
    .organization
      = I18n.t('description.create')
.bar

== partial :errors, {:locals => {:errors => errors}}

- tabs_id = "configure-object-panes"
- if request.xhr?
  - tabs_id = "modal-#{tabs_id}"

.card.filled.transparent.flex.configure-object
  - if editing
    == header(:offscreen => true,
              :hidden    => true,
              :text      => I18n.t('objects.metadata.io.edit-schema.header'),
              :help      => I18n.t('objects.metadata.io.edit-schema.help'),
              :id        => :"edit-schema")

  ul.tabs.tab-bar
    li.tab.active
      a href="#"
        = name
  ul.tab-panels.card.filled.flex
    li.tab-panel.card.filled.flex.active
      == partial :"objects/configuration", { :locals => { :object              => object,
                                                          :revision            => revision,
                                                          :schema              => schema,
                                                          :editing             => editing,
                                                          :configuration_index => configuration_index,
                                                          :index               => 0,
                                                          :url                 => url,
                                                          :defaults            => defaults } }
