h1
  img.large-icon.action.edit-description src=imageURL("icons/ui/facets.svg", :hex => current_layout.theme.hexColorFor("header.general.icon"))
  .name id=((request.xhr? ? "modalLabel" : false)) 
    | Edit Description
  .organization
    | Make changes to this object's markdown description.
.bar

== partial :errors, {:locals => {:errors => errors}}

form.card.filled.flex.transparent.modal action=(object.url(:path => "files/object.json")) method=:post 
  == partial(:"objects/metadata/markdown-editor", :locals => { :data => object.info[:description] } )
  .card.submit
    .submit
      input type=:hidden name="referrer" value="metadata" 
      input#edit-object-submit.button type="submit" value="Update" name=:submit 
