h1.edit
  img.large-icon.action.edit-metadata src=imageURL("icons/ui/facets.svg", :hex => current_layout.theme.hexColorFor("header.general.icon"))
  .name id=((request.xhr? ? "modalLabel" : false)) 
    = I18n.t("objects.metadata.#{section}.edit.header")
  .organization
    = I18n.t("objects.metadata.#{section}.edit.description")
.bar

== partial :errors, {:locals => {:errors => errors}}

form.card.filled.flex.transparent.modal action=(object.url(:path => "files/object.json")) method=:post 
  .card.filled.flex.metadata-editor
    ul.tabs.tab-bar
      li.edit.tab.active
        a.icon href="#general" 
          == svg(:ui, :"list-view");
          | General
    ul.tab-panels.flex.filled
      li.tab-panel.metadata-editor.active.flex.filled
        .card.filled
          label for="edit-section-command"
            | command
          input type=:hidden name=:"nullify[#{section}.command]" value="on"
          input type=:hidden name=:"datatype[#{section}.command]" value="tags"
          - command = (object.info[section] || {})[:command]
          - if command.nil?
            - command = []
          - if not command.is_a? Array
            - command = [command]
          - command = command.map{|value| {:value => value || ""}}.to_json
          input.tags id="edit-section-command" type=:text name=:"data[#{section}.command]" value=command data-tagify-allow-duplicates=true data-tagify-backspace="edit" data-tagify-delimiters="\s"
          label for="edit-section-environment"
            | environment
          input id="edit-section-environment" type=:text name=:"data[#{section}.environment]" value=((object.info[section] || {})[:environment] || object.info[:environment])
          label for="edit-section-architecture"
            | architecture
          input id="edit-section-architecture" type=:text name=:"data[#{section}.architecture]" value=((object.info[section] || {})[:architecture] || object.info[:architecture])

  .card.submit
    .submit
      input type=:hidden name="referrer" value="metadata" 
      input#edit-object-submit.button type="submit" value="Update" name=:submit 
