h1.edit
  == svg(:ui, :facets, :class => "large-icon action edit-metadata")
  .name id=((request.xhr? ? "modalLabel" : false))
    = I18n.t('objects.metadata.edit.header')
  .organization
    = I18n.t('objects.metadata.edit.description')
.bar

== partial :errors, {:locals => {:errors => errors}}

form.card.filled.flex.transparent.modal action=(object.url(:path => "files/object.json")) method=:post
  .card.filled.flex.metadata-editor
    == header(:offscreen => true,
              :hidden    => true,
              :text      => I18n.t('objects.metadata.edit.header'),
              :help      => I18n.t('objects.metadata.edit.help'),
              :id        => :"edit-metadata")

    ul.tabs.tab-bar
      li.edit.tab.active
        a.icon href="#general"
          == svg(:ui, :"list-view")
          | General
      li.edit.tab
        a.icon href="#license"
          == svg(:metadata, :license)
          | License
      li.close hidden=true
        | Close
    ul.tab-panels.flex.filled
      li.tab-panel.metadata-editor.active.flex.filled
        .card.full.filled
          .editing-table
            .editing-table-field
              label for="edit-object-name"
                | name
              input id="edit-object-name" type=:text name=:"data[name]" value=object.info[:name] disabled=true
            .editing-table-field
              label for="edit-object-type"
                | type
              input id="edit-object-type" type=:text name=:"data[type]" value=object.info[:type] disabled=true
            .editing-table-field
              label for="edit-object-subtype"
                | subtype
              .editing-table-cell
                input type=:hidden name=:"nullify[subtype]" value="on"
                input type=:hidden name=:"datatype[subtype]" value="tags"
                input.tags id="edit-object-subtype" type=:text name=:"data[subtype]" value=object.info[:subtype]
            .editing-table-field
              label for="edit-object-tags"
                | tags
              .editing-table-cell
                input type=:hidden name=:"nullify[tags]" value="on"
                input type=:hidden name=:"datatype[tags]" value="tags"
                input.tags id="edit-object-tags" type=:text name=:"data[tags]" value=object.info[:tags]
            - [:summary, :website, :organization, :publisher, :published].each do |key|
              .editing-table-field
                label for="edit-object-#{key}"
                  | #{key}
                input type=:hidden name=:"nullify[#{key}]" value="on"
                input id="edit-object-#{key}" type=:text name=:"data[#{key}]" value=object.info[key]
      li.tab-panel.license-editor
        .card.filled.license-picker
          .objects-container.card.filled.flex
            label.slider-checkbox
              input.show-all type=:checkbox
              span.label
                = I18n.t('objects.run.form.advanced.label')
            ul.objects.detailed.list.licenses
              input type=:hidden name=:"datatype[license]" value="list"
              - Occam::License.organizations.each do |organization|
                - Occam::License.all(:organization => organization).each do |license|
                  li.details.object.detailed.license hidden=!license[:recommend] data-recommend=license[:recommend].to_s
                    .checkbox
                      - checked = (object.info[:license] || []).any?{|tag| license[:aliases].include?(tag)}
                      input type=:checkbox name=:"data[license][#{license[:aliases][0]}]" checked=checked
                    .license
                      a.vertical.license href="#FOO"
                        img.icon src='/images/dynamic/hex/d7b6d8/icons/metadata/license.svg'
                        p.name
                          = license[:name]
                    .actions
                      a.view href="/licenses/#{license[:aliases][0]}"
                        p
                          | View
                    .description
                      .information
                        - if license[:type]
                          .type
                            h2
                              | Category
                            ul
                              li
                                = license[:type]
                              - if license[:category]
                                li
                                  = license[:category]
                        - if license[:description]
                          - if license[:description][:permissions]
                            .permissions
                              h2
                                | Permissions
                              ul
                                - license[:description][:permissions].each do |item|
                                  li
                                    = item
                          - if license[:description][:conditions]
                            .conditions
                              h2
                                | Conditions
                              ul
                                - license[:description][:conditions].each do |item|
                                  li
                                    = item
                          - if license[:description][:limitations]
                            .limitations
                              h2
                                | Limitations
                              ul
                                - license[:description][:limitations].each do |item|
                                  li
                                    = item
        .card.filled.license hidden=true

  .card.submit
    .submit
      input type=:hidden name="referrer" value="metadata"
      input#edit-object-submit.button type="submit" value="Update" name=:submit
