/ This modal will allow a person to create a new object

h1.create
  == svg(:ui, :create, :class => "large-icon action create")
  .name id=((request.xhr? ? "modalLabel" : false)) 
    = I18n.t('people.active.new.header')
  .organization
    = I18n.t('people.active.new.description')
.bar

== partial :errors, {:locals => {:errors => errors}}

- tabs_id = "new-object-panes"
- if request.xhr?
  - tabs_id = "modal-#{tabs_id}"

.card.filled.transparent.flex.new-object
  == header(:offscreen => true,
            :hidden    => true,
            :text      => I18n.t('people.active.new.header'),
            :help      => I18n.t('people.active.new.help'),
            :id        => :new)

  ul.tabs.tab-bar data-panels=tabs_id
    li.new-object.tab.active.step
      a.icon href="#template"
        == svg(:ui, :fork)
        | Template
    li.new-object.tab.step disabled=true
      a.icon href="#general"
        == svg(:ui, :edit)
        | Metadata
    li.new-object.tab.step disabled=true
      a.icon href="#license"
        == svg(:metadata, :license)
        | License
    li.new-object.tab.step.submitting disabled=true
      a.icon href="#creation"
        == svg(:ui, :create)
        | Create!
    li.close hidden=true
      | Close

  form.card.filled.flex.transparent.modal.new-object-data action="/people/#{current_person.identity.uri}/active" method=:post name=:create
    ul.tab-panels.flex.filled id=tabs_id
      li.tab-panel.transparent.new-object.active.flex.filled#new-object-select-template
        .card.filled.flex
          input type=:text value="" name=:query placeholder="filter results"
          .objects-container.input-selection.grid-view
            ul.objects.perfect-scrollbar
              template.object-template.object
                li.object.input
                  a href="#"
                    == svg(:objects, :object, :class => "icon")
                    p.type
                      | type
                    p.name
                      | name
                    p.id hidden=true
                      | id
                    p.uid hidden=true
                      | uid
                    p.file hidden=true
                      | file
                    p.revision hidden=true
                      | revision
        .card.object-metadata hidden=true
        .card.submitting hidden=true
          .new-object-animation
            p
              | Creating object from template...
            == partial(:loading)
      li.tab-panel.transparent.new-object.flex.filled#new-object-metadata
        == partial :errors, :locals => {:errors => errors}
        .card.filled.flex
          .editing-table.filled
            .editing-table-field
              label for="new-object-type"
                = I18n.t('objects.metadata.type')
              input#new-object-type.auto-complete.object-type type=:text autocomplete="off" name="type" value="experiment" aria-label=I18n.t("objects.metadata.type") data-aria-dropdown-label="Filtered Types" data-icon-url=Occam::Object.iconURLFor(:experiment) title=I18n.t("objects.metadata.type")
              ul.auto-complete.initial-list hidden=true
                li data-i18n=I18n.t('objectTypes.experiment') data-icon-url=Occam::Object.iconURLFor(:experiment)
                  | experiment
                li data-i18n=I18n.t('objectTypes.workset') data-icon-url=Occam::Object.iconURLFor(:workset)
                  | workset
            .editing-table-field
              label for="new-object-name"
                = I18n.t('objects.metadata.name')
              input#new-object-name value="" type=:text placeholder=I18n.t('objects.metadata.placeholders.name') name="name" aria-label=I18n.t("objects.metadata.name") title=I18n.t("objects.metadata.name")
            .editing-table-field
              label for="new-object-license"
                = I18n.t('objects.metadata.license')
              input#new-object-license value="" type=:text placeholder=I18n.t('objects.metadata.placeholders.license') name="license" aria-label=I18n.t("objects.metadata.license") title=I18n.t("objects.metadata.license")
            .editing-table-field
              label for="new-object-organization"
                = I18n.t('objects.metadata.organization')
              input#new-object-organization value="" type=:text placeholder=I18n.t('objects.metadata.placeholders.organization') name="organization" aria-label=I18n.t("objects.metadata.organization") title=I18n.t("objects.metadata.organization")
            .editing-table-field
              label for="new-object-website"
                = I18n.t('objects.metadata.website')
              input#new-object-website value="" type=:text placeholder=I18n.t('objects.metadata.placeholders.website') name="website" aria-label=I18n.t("objects.metadata.website") title=I18n.t("objects.metadata.website")
            .editing-table-field
              label for="new-object-summary"
                = I18n.t('objects.metadata.summary')
              input#new-object-summary value="" type=:text placeholder=I18n.t('objects.metadata.placeholders.summary') name="summary" aria-label=I18n.t("objects.metadata.summary") title=I18n.t("objects.metadata.summary")
        .card.submit
          .submit
            input.button.next value=I18n.t('common.next') type=:button name="next"
      li.tab-panel.license-editor
        .card.filled.license-picker
          .objects-container.card.filled.flex
            label.slider-checkbox
              input.show-all type=:checkbox
              span.label
                = I18n.t('objects.run.form.advanced.label')
            ul.objects.detailed.list.licenses
              input type=:hidden name=:"datatype[license]" value="list"
              - Occam::License.organizations.each do |organization|
                - Occam::License.all(:organization => organization).each do |license|
                  li.details.object.detailed.license hidden=!license[:recommend] data-recommend=license[:recommend].to_s
                    .checkbox
                      - checked = false
                      input type=:checkbox name=:"data[license][#{license[:aliases][0]}]" checked=checked
                    .license
                      a.vertical.license href="#FOO"
                        img.icon src='/images/dynamic/hex/d7b6d8/icons/metadata/license.svg'
                        p.name
                          = license[:name]
                    .actions
                      a.view href="/licenses/#{license[:aliases][0]}"
                        p
                          | View
                    .description
                      .information
                        - if license[:type]
                          .type
                            h2
                              | Category
                            ul
                              li
                                = license[:type]
                              - if license[:category]
                                li
                                  = license[:category]
                        - if license[:description]
                          - if license[:description][:permissions]
                            .permissions
                              h2
                                | Permissions
                              ul
                                - license[:description][:permissions].each do |item|
                                  li
                                    = item
                          - if license[:description][:conditions]
                            .conditions
                              h2
                                | Conditions
                              ul
                                - license[:description][:conditions].each do |item|
                                  li
                                    = item
                          - if license[:description][:limitations]
                            .limitations
                              h2
                                | Limitations
                              ul
                                - license[:description][:limitations].each do |item|
                                  li
                                    = item
        .card.filled.license hidden=true
        .card.submit
          .submit
            input.button data-modal-check-errors=true value=I18n.t('people.active.new.submit') type=:submit name="add"
      li.tab-panel.new-object.flex.filled#new-object-create
        .card.submitting
          .new-object-animation
            p
              == I18n.t('people.active.new.pending')
            .card.loading
