/ Purpose: Displays the profile for the specified object
/
/ Locals:  object - The particular object to view.

- workset  = nil   if not defined?(workset)
- embedded = false if not defined?(embedded)

- if not defined?(queue)
  - queue = nil

- if !defined?("reviewing")
  - reviewing = false

- if !defined?("viewer")
  - viewer = nil

- if !defined?("help")
  - help = nil

- if !defined?("preferredViewer")
  - preferredViewer = nil

- if !defined?("preferredRunner")
  - preferredRunner = nil

- if !defined?("tab")
  - tab = nil

/ Defaults to the "full" view, instead of, for instance, the embedded view
- if !defined?("view")
  - view = "full"

/ <title
- content_for :title do
  = "#{object.info[:name]} [#{object.info[:type]}]"

/ Renders the flash banner indicating this is anonymized access
- if object.anonymous?
  .notice
    p
      = I18n.t "objects.flash.anonymous"

/ Renders the flash banner indicating there is a more recent version of this object
- if !object.resource? && !object.version && (!defined?(reviewing) || !reviewing) && (object.currentRevision != object.revision) && !object.link
  .notice
    p
      = I18n.t "objects.flash.snapshot"
      | &nbsp;|&nbsp;
      a href=Occam::Object.new(:id => object.id, :withinUuid => object.withinUuid, :withinRevision => Occam::Object.new(:id => object.withinUuid, :account => current_account).revision, :index=>object.index, :root=>object.root, :account=>current_account, :link=>object.link).url
        = I18n.t "objects.flash.recent"

/ Render Object Header
== partial(:"objects/header", {:locals => {:embedded    => embedded,
                                           :reviewing   => reviewing,
                                           :help        => help,
                                           :object      => object,
                                           :showActions => !request.xhr?,
                                           :workset     => workset}})

/ Render Object Body
== partial(:"objects/show", {:locals => locals.update({:view            => view,
                                         :viewer          => viewer,
                                         :preferredViewer => preferredViewer,
                                         :preferredRunner => preferredRunner,
                                         :reviewing       => reviewing,
                                         :help            => help,
                                         :tab             => tab,
                                         :object          => object,
                                         :workset         => workset,
                                         :embedded        => false,
                                         :queue           => queue,
                                         :before          => (defined?(before) ? before : nil),
                                         :after           => (defined?(after)  ? after  : nil),
                                         :path => (defined?(path) ? path : ""),
                                         :fileInfo => (defined?(fileInfo) ? fileInfo : nil),
                                         :data => (defined?(data) ? data : nil),
                                         :data_mime_type => (defined?(data_mime_type) ? data_mime_type : nil)})})
