/ This modal allows the publishing of a new version for an object

h1.new-version
  == svg(:ui, :"create-metadata", :class => "large-icon action new-version")
  .name id=((request.xhr? ? "modalLabel" : false))
    = I18n.t('objects.history.versions.new.header')
  .organization
    = I18n.t('objects.history.versions.new.description')
.bar

== partial :errors, {:locals => {:errors => errors}}

- tabs_id = "new-version-panes"
- if request.xhr?
  - tabs_id = "modal-#{tabs_id}"

form.card.transparent.filled.flex.modal#new-version action=(object.url(:path => "history/versions")) method=:post
  .card.submitting hidden=true
    .submit-animation
      p
        = I18n.t "objects.history.versions.new.pending"
      == partial(:loading)
  .card.filled.flex.new-history.objects.transparent
    ul.tabs.tab-bar data-panels=tabs_id
      li.edit.tab.active
        a.icon href="#general" 
          == svg(:ui, :"list-view")
          = I18n.t('objects.history.versions.new.tabs.general')
    ul.tab-panels.flex.filled id=tabs_id
      li.tab-panel.metadata.flex.filled.active
        .card.filled.full
          ul.history
            - commits = object.retrieveHistory
            - if commits.any?
              - commit = commits[0]
              li.commit
                p.date
                  a href=(object.url(:revision => commit[:revision], :link => false))
                    - if commit[:date].is_a?(Date) or commit[:date].is_a?(DateTime)
                      time datetime=commit[:date].iso8601
                        = I18n.l commit[:date], :format => :long
                    - else
                      = commit[:date]
                p.name
                  = I18n.t('objects.history.fields.author') + ":"
                  span.author<
                    = commit[:author]
                - commit[:message].lines.each do |line|
                  p.message
                    = line
          .editing-table
            .editing-table-field
              label for=:"new-version-tag"
                = I18n.t('objects.history.versions.new.fields.name')
              input#new-version-tag type=:text name=:"version" value=""
  .card.submit
    .submit
      input type=:hidden name=:referrer value="history" 
      input#new-version-submit.button type="submit" value=I18n.t('objects.history.versions.new.submit') data-modal-check-errors=true
