/ Generates a list of objects as a bubble list
/
/ Locals: objects - an array of Occam::Object

ul.information.object-table.bubbles
  - if objects.nil?
    - objects = []
  - objects.each do |object|
    - if object.info.nil?
      / TODO: illustrate that the object is missing
      - next
    li.object{"data-object-type"     => object.info[:type],
               | "data-object-revision" => (object.revision? ? object.revision : false)}
      img.icon src=object.iconURL 
      h2.type.object
        - if object.info.has_key? :name
          #{object.info[:name]}
          span.small
            #{object.info[:type]}
        - else
          #{object.info[:type]}
      p
        a href=(object.url(:short => true)) 
          = I18n.t 'common.view'
        / TODO: hmm, need to inspect generated object and see if it has a file
        - if object.info[:file]
          a href=(object.url(:path => "file")) 
            = I18n.t 'common.download'
        - if object.info[:schema]
          a href=(object.url(:path => "schema")) 
            = I18n.t 'common.schema'
