- if !defined?(type)
  - type = ""

h3
  = I18n.t('search.sidebar.filters.type')

input.auto-complete.object-type autocomplete="off" name="type" placeholder=I18n.t('fields.placeholders.filterByType') value=type data-aria-dropdown-label="Filtered Types"

- if data[:identity]
  input type=:hidden name="identity" value=data[:identity]

ul.facets.type
  - totalTypes = 0
  - (data[:types] || []).take(10).each_with_index do |type, i|
    li
      input type=:hidden name="search-facet-type-name[#{i}]" value=type
      input type=:hidden name="search-facet-type[#{i}]" value="off"
      label.facet.type.slider-checkbox for="search-facet-type-#{i}"
        input.facet.type id="search-facet-type-#{i}" name="search-facet-type[#{i}]" type="checkbox" checked=true
        - totalTypes = i + 1
        span.label.facet.name
          = type
  - (data[:excludeTypes] || []).each_with_index do |type, i|
    li
      input type=:hidden name="search-facet-type-name[#{i+totalTypes}]" value=type
      input type=:hidden name="search-facet-type[#{i+totalTypes}]" value="off"
      label.facet.type.slider-checkbox for="search-facet-type-#{i+totalTypes}"
        input.facet.type id="search-facet-type-#{i+totalTypes}" name="search-facet-type[#{i+totalTypes}]" type="checkbox" checked=false
        span.label.facet.name
          = type

h3
  = I18n.t('search.sidebar.filters.tags')

- totalTags = 0
ul.facets.tags
  - (data[:includedTags] || []).each_with_index do |tag, i|
    li
      input type=:hidden name="search-facet-tag-name[#{i}]" value=tag
      input type=:hidden name="search-facet-tag[#{i}]" value="off"
      label.facet.tag.slider-checkbox for="search-facet-tag-#{i}"
        input.facet.tag id="search-facet-tag-#{i}" name="search-facet-tag[#{i}]" type="checkbox" checked=true
        - totalTags = i + 1
        span.label.facet.name
          = tag
  /- (data[:excludedTags] || []).each_with_index do |tag, i|
    li
      input type=:hidden name="search-facet-tag-name[#{i+totalTags}]" value=tag
      input type=:hidden name="search-facet-tag[#{i+totalTags}]" value="off"
      label.facet.tag for="search-facet-tag-#{i+totalTags}"
        input.facet.tag id="search-facet-tag-#{i+totalTags}" name="search-facet-tag[#{i+totalTags}]" type="checkbox" checked=false
        span.facet.name
          = tag
  /- totalTags += (data[:excludedTags] || []).length
  - (data[:tags] || []).take(10).each_with_index do |tag, i|
    - next if (data[:includedTags] || []).include?(tag)
    li
      input type=:hidden name="search-facet-tag-name[#{i+totalTags}]" value=tag
      input type=:hidden name="search-facet-tag[#{i+totalTags}]" value="off"
      label.facet.tag.slider-checkbox for="search-facet-tag-#{i+totalTags}"
        input.facet.tag id="search-facet-tag-#{i+totalTags}" name="search-facet-tag[#{i+totalTags}]" type="checkbox" checked=false
        span.label.facet.name
          = tag
p.empty
  | None

h3
  = I18n.t('search.sidebar.filters.environment')

ul.facets.environments
  - (data[:knownEnvironments] || data[:environments] || []).take(10).each_with_index do |environment, i|
    - value = false
    - if environment.is_a?(Array)
      - value = environment[1]
      - environment = environment[0]
    li
      input type=:hidden name="search-facet-environment-name[#{i}]" value=environment
      input type=:hidden name="search-facet-environment[#{i}]" value="off"
      label.facet.environment.slider-checkbox for="search-facet-environment-#{i}"
        input.facet.environment id="search-facet-environment-#{i}" name="search-facet-environment[#{i}]" type="checkbox" checked=value
        span.label.facet.name
          = environment
p.empty
  | None

h3
  = I18n.t('search.sidebar.filters.architecture')

ul.facets.architectures
  - (data[:knownArchitectures] || data[:architectures] || []).take(10).each_with_index do |architecture, i|
    - value = false
    - if architecture.is_a?(Array)
      - value = architecture[1]
      - architecture = architecture[0]
    li
      input type=:hidden name="search-facet-architecture-name[#{i}]" value=architecture
      input type=:hidden name="search-facet-architecture[#{i}]" value="off"
      label.facet.architecture.slider-checkbox for="search-facet-architecture-#{i}"
        input.facet.architecture id="search-facet-architecture-#{i}" name="search-facet-architecture[#{i}]" type="checkbox" checked=value
        span.label.facet.name
          = architecture
p.empty
  | None
