/ Generates a list of objects
/
/ Locals: objects - an array of Occam::Object

ul.object-list
  - if objects.nil?
    - objects = []

  / Determine the data columns, if any are specified in the metadata
  - columns = []
  - if !objects.empty? && objects[0].is_a?(Hash)
    - (objects[0][:values] || {}).each do |k,v|
      - (v || {}).each do |inputIndex, configuration|
        - (configuration || {}).keys.each do |key|
          - columns << [k.intern, inputIndex.intern, key.intern]

  / Write out the headers
  .object-list-header
    span.icon
      == svg(:objects, :object, :class => "icon")
    p
      | Name
    p
      | Type
    - columns.each do |item|
      - baseToken, inputIndex, key = item
      - schema = (((objects[0][:schemata] || {})[baseToken] || {})[inputIndex] || {})[key]
      - label = schema[:label] || key.to_s.split('.')[-1]
      p
        = label
    p.actions
      | Actions

  / For each object, write out its list item
  - objects.each_with_index do |object, i|
    - if object.is_a?(Hash) && object[:object]
      - metadata = object
      - object = Occam::Object.new(:id => object[:object][:id], :revision => object[:object][:revision], :uid => object[:object][:uid], :info => object[:object], :account => current_account, :status => object[:object])
    - if object.info[:type] == "person"
      - object = object.as(Occam::Person)
    li.object data-object-type=object.info[:type] data-object-revision=(object.revision? ? object.revision : false)
      span.icon
        == svg(:objects, object.iconID, :class => "icon")
      - if object.info.has_key? :name
        h2.name.object
          = object.info[:name]
      - if object.info.has_key? :type
        h2.type.object
          = object.info[:type]

      / Write out columns for configured data
      - if metadata
        - columns.each do |item|
          - baseToken, inputIndex, key = item
          p.configuration-column
            - value = (((metadata[:configurations][baseToken] || {})[inputIndex] || {})[:configuration] || {})[key]
            - if value.nil?
              - schema = (((objects[0][:schemata] || {})[baseToken] || {})[inputIndex] || {})[key]
              - value = schema[:default] || "N/A"

            = value

      span.actions
        p
          a href=(object.url(:short => true)) 
            = I18n.t 'common.view'
        p
          a href=(object.url(:short => true, :path => "metadata")) 
            = I18n.t 'common.details'
        / TODO: hmm, need to inspect generated object and see if it has a file
        - if object.info[:file]
          p
            a href=(object.url(:path => "data")) 
              = I18n.t 'common.download'
        - if object.info[:schema]
          p
            a href=(object.url(:path => "schema")) 
              = I18n.t 'common.schema'
        - if deleteURLs && deleteURLs[i]
          form action=deleteURLs[i] method=:post
            input type=:hidden value='delete' name=:_method 
            button.remove.delete.inline
              == svg(:ui, :remove)
