- if !defined?(pagination) || pagination.nil?
  - pagination = {:pageIndex => 1,
                  :pageItems => 30}

- if !defined?(noneText) || noneText.nil?
  - noneText = I18n.t('common.none')

- if !defined?(deleteURLs)
  - deleteURLs = nil

li.tab-panel.card.filled.search-results-list-container
  - if objects.empty?
    ul.object-table.empty
      p.empty
        = noneText
  - else
    == partial(:"objects/listview/list", :locals => {:pagination => pagination,
                                                     :deleteURLs => deleteURLs,
                                                     :objects    => objects})
li.tab-panel.card.filled.active.search-results-preview-container
  - if objects.empty?
    ul.object-preview-list.empty
      p.empty
        = noneText
  - else
    == partial(:"objects/listview/preview", :locals => {:pagination => pagination,
                                                        :deleteURLs => deleteURLs,
                                                        :objects    => objects})
